<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <h5 *ngIf="activeTable == 1"> Wholesaler's Cancelled Subscription List </h5>
                            <h5 *ngIf="activeTable == 2"> Retailer's Cancelled Subscription List </h5>
                          <button class="btn btn-primary btn-sm mr-2" [ngClass]="{'b-active': isbuttonActiveTab1}" (click)="showSubTable(1)">
                            Wholesaler</button>
                              <button class="btn btn-primary btn-sm mr-2" [ngClass]="{'b-active': isbuttonActiveTab2}" (click)="showSubTable(2)">
                                Retailer</button>
                          </div>
                        <div class="card-block ">


                          <!-- <div class="row">
                            <div class="col-md-12">
                              <div class="btn-group float-right" dropdown placement="bottom right">
                                <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                                        aria-controls="dropdown-basic">
                                  Subscription <span class="caret"></span>
                                </button>

                                <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                                    role="menu" aria-labelledby="button-animated">
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/create-subscription']" routerLinkActive="router-link-active" > Create Subscription</a></li>
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/add-product-to-subscription']" routerLinkActive="router-link-active" >Add Product To Subscription </a></li>
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/subscription-list']" routerLinkActive="router-link-active" >All Subscription List</a></li>
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/wholesaler-subscription-list']" routerLinkActive="router-link-active" > Wholesaler Subscription List</a></li>
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/retailer-subscription-list']" routerLinkActive="router-link-active" > Retailer Subscription List</a></li>
                                  <hr>
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/change-current-month-subscription']" routerLinkActive="router-link-active" >Change Current Month Subscription </a></li>
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/remove-product-from-current-month']" routerLinkActive="router-link-active" >Remove Product From Current Month </a></li>
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cancel-entrie-subscription-from-current-month']" routerLinkActive="router-link-active" >Cancel Entrie Subscription From Current Month </a></li>
                                  <hr>
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/change-next-month-subscription']" routerLinkActive="router-link-active" >Change Next Month Subscription </a></li>
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/remove-product-from-next-month']" routerLinkActive="router-link-active" >Remove Product From Next Month </a></li>
                                  <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cancel-entrie-subscription-from-next-month']" routerLinkActive="router-link-active" >Cancel Entrie Subscription From Next Month </a></li>

                                </ul>
                              </div>
                            </div>
                          </div>
                          <hr> -->


                          <div *ngIf="activeTable == 1">
                            <div class="row">
                              <div class="col-lg-7">
                                <div class="form-group row">
                                  <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Search wholesaler by first name, last name, code, mobile, email" (keyup)="updateFilterWholesaler($event)" />

                                  </div>
                                </div>
                              </div>
                            </div>

                              <div class="row ">
                                  <div class="col-lg-12 ">
                                  <ngx-datatable #tableWholesaler class="material table-bordered"  [scrollbarH]="true" [rows]="wholesalerList" [loadingIndicator]="loadingIndicator"
                                  [externalPaging]="true" [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50"
                                  rowHeight="auto" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                  (page)="setPageWholesaler($event)">

                                           <!-- Row Detail Template -->
                                           <ngx-datatable-row-detail  [rowHeight]="'100%'">
                                            <ng-template let-row="row" let-expanded="expanded"
                                                ngx-datatable-row-detail-template>
                                                <div class="w-50">
                                                  <table
                                                      class="table table-xs table-hover table-bordered table-striped">
                                                      <thead>
                                                          <tr>
                                                              <th width="20%" scope="col">SIM CID No</th>
                                                              <th width="20%" scope="col">SIM ICCID No</th>
                                                              <th width="20%" scope="col">Phone Number</th>
                                                              <th width="20%" scope="col">Plan</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr *ngFor="let item of row.details">
                                                            <th> {{item.sim.CID_no}}   <em *ngIf="row.future_state_type != 'Will_Hold' && item.status === 2 && row.status === 1">  -- {{SubsItemsStaus[item.status]}}</em></th>
                                                            <th> {{item.sim.ICCID_no}} </th>
                                                            <th> {{item.sim.phone_number}} </th>
                                                            <th> {{item.plan.plan}} </th>
                                                              <!-- <th>
                                                                  {{SubsItemsStaus[item.status]}}
                                                                </th> -->
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                              </div>
                                            </ng-template>
                                        </ngx-datatable-row-detail>

                                        <ngx-datatable-column [width]="30" name="#" [resizeable]="false"
                                            [sortable]="false" [draggable]="false" [canAutoResize]="false">
                                            <ng-template let-row="row" let-expanded="expanded"
                                                ngx-datatable-cell-template>
                                                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                                    [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                                    (click)="toggleExpandRow(row)">
                                                </a>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="150" name="Subscription No" prop="id" [draggable]="false" [sortable]="false">
                                          <ng-template let-row="row" ngx-datatable-cell-template>
                                              <p > {{ row.id }}  <i *ngIf="row.future_state_type == 'Will_Hold' " title="Undo Held Subscription" (click)="undoSubscription(row)" class=" mt-1 ml-2 icofont-ui-reply icofont-flip-horizontal text-warning icofont-2x"></i></p>
                                              <p><em *ngIf="row.future_state && row.status === 1"> <small>--{{row.future_state}}</small></em></p>
                                          </ng-template>
                                      </ngx-datatable-column>


                                    <ngx-datatable-column [width]="200" name="Wholesaler Name" prop="customer" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="100" name="Activation Date" prop="activation_date" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="150" name="Cancellation Date" prop="cancellation_date" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span *ngIf="value" >  {{ value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                          <span *ngIf="!value" >  --- </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [width]="150" name="Held Date" prop="held_date" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span *ngIf="value" >  {{ value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                          <span *ngIf="!value" >  --- </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [width]="100" name="Subscription Status" prop="status" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span *ngIf="value == 1" > <strong class="label label-success">{{ SubscriptionStatus[value] }}</strong> </span>
                                            <span *ngIf="value == 2" ><strong class="label label-danger">{{ SubscriptionStatus[value] }}</strong> </span>
                                            <span *ngIf="value == 3" ><strong class="label label-warning">{{ SubscriptionStatus[value] }}</strong> </span>
                                        </ng-template>
                                    </ngx-datatable-column>


                                </ngx-datatable>
                                  </div>
                              </div>
                          </div>

                          <div *ngIf="activeTable == 2">
                            <div class="row">
                              <div class="col-lg-7">
                                <div class="form-group row">
                                  <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Search retailer by first name, last name,code, mobile, email" (keyup)="updateFilterRetailer($event)" />

                                  </div>
                                </div>
                              </div>
                            </div>

                              <div class="row ">
                                  <div class="col-lg-12 ">
                                    <ngx-datatable #table class="material table-bordered" [scrollbarH]="true" [rows]="retailerList" [loadingIndicator]="loadingIndicator"
                                    [externalPaging]="true" [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50"
                                    rowHeight="auto" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                    (page)="setPageRetailer($event)">

                                           <!-- Row Detail Template -->
                                           <ngx-datatable-row-detail  [rowHeight]="'100%'">
                                            <ng-template let-row="row" let-expanded="expanded"
                                                ngx-datatable-row-detail-template>
                                                <div class="w-50">
                                                  <table
                                                      class="table table-xs table-hover table-bordered table-striped">
                                                      <thead>
                                                        <tr>
                                                            <th width="20%" scope="col">SIM CID No</th>
                                                            <th width="20%" scope="col">SIM ICCID No</th>
                                                            <th width="20%" scope="col">Phone Number</th>
                                                            <th width="20%" scope="col">Plan</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let item of row.details">
                                                          <th> {{item.sim.CID_no}}   <em *ngIf="row.future_state_type != 'Will_Hold' && item.status === 2 && row.status === 1">  -- {{SubsItemsStaus[item.status]}}</em></th>
                                                          <th> {{item.sim.ICCID_no}} </th>
                                                          <th> {{item.sim.phone_number}} </th>
                                                          <th> {{item.plan.plan}} </th>
                                                            <!-- <th>
                                                                {{SubsItemsStaus[item.status]}}
                                                              </th> -->
                                                        </tr>
                                                    </tbody>
                                                  </table>
                                              </div>
                                            </ng-template>
                                        </ngx-datatable-row-detail>

                                        <ngx-datatable-column [width]="30" name="#" [resizeable]="false"
                                            [sortable]="false" [draggable]="false" [canAutoResize]="false">
                                            <ng-template let-row="row" let-expanded="expanded"
                                                ngx-datatable-cell-template>
                                                <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                                    [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                                    (click)="toggleExpandRow(row)">
                                                </a>
                                            </ng-template>
                                        </ngx-datatable-column>

                                        <ngx-datatable-column [width]="300" name="Subscription No" prop="id" [draggable]="false" [sortable]="false">
                                          <ng-template let-row="row" ngx-datatable-cell-template>
                                              <p > {{ row.id }}  <i *ngIf="row.future_state_type == 'Will_Hold' " title="Undo Held Subscription" (click)="undoSubscription(row)" class=" mt-1 ml-2 icofont-ui-reply icofont-flip-horizontal text-warning icofont-2x"></i></p>
                                              <p><em *ngIf="row.future_state && row.status === 1"> <small>--{{row.future_state}}</small></em></p>
                                          </ng-template>
                                      </ngx-datatable-column>

                                    <ngx-datatable-column [width]="200" name="Retailer Name" prop="customer" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="150" name="Activation Date" prop="activation_date" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="150" name="Cancellation Date" prop="cancellation_date" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span *ngIf="value" >  {{ value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                          <span *ngIf="!value" >  --- </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                    <ngx-datatable-column [width]="150" name="Held Date" prop="held_date" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span *ngIf="value" >  {{ value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                        <span *ngIf="!value" >  --- </span>
                                      </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column [width]="100" name="Subscription Status" prop="status" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span *ngIf="value == 1" > <strong class="label label-success">{{ SubscriptionStatus[value] }}</strong> </span>
                                          <span *ngIf="value == 2" ><strong class="label label-danger">{{ SubscriptionStatus[value] }}</strong> </span>
                                          <span *ngIf="value == 3" ><strong class="label label-warning">{{ SubscriptionStatus[value] }}</strong> </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                    <!-- <ngx-datatable-column [width]="80" name="Created Date" prop="created_at" [draggable]="false"
                                        [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                        </ng-template>
                                    </ngx-datatable-column> -->

                                </ngx-datatable>
                                  </div>
                              </div>
                          </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</block-ui>
