<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <h5 *ngIf="activeTable == 0"> All Bill List </h5>
                            <h5 *ngIf="activeTable == 1">Subscrption Bill List </h5>
                            <h5 *ngIf="activeTable == 2">SIM Sales Bill List </h5>
                            <h5 *ngIf="activeTable == 3">Device Sales Bill List </h5>

                            <button class="btn btn-primary btn-sm mr-2" [ngClass]="{'b-active': isbuttonActive}" (click)="showBillTable(0)">
                                All Bill</button>
                            <button class="btn btn-primary btn-sm mr-2" (click)="showBillTable(1)">
                                Subscription Bill</button>
                                <button class="btn btn-primary btn-sm mr-2" (click)="showBillTable(2)">
                                    SIM Sales Bill</button>
                                    <button class="btn btn-primary btn-sm mr-2" (click)="showBillTable(3)">
                                        Device Sales Bill</button>


                            <button class="btn btn-primary btn-sm float-right" (click)="openModalBill(templateGenerateBill)"><i
                              class=" icofont icofont-plus "></i> Generate Monthly Bill</button>

                        </div>
                        <div class="card-block ">
                          <!-- <div class="row">
                            <div class="col-lg-4">
                              <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Customer </label>
                                <div class="col-sm-8">
                                  <ng-select (change)="onCustomerChange($event)" [clearable]="false" [(ngModel)]="customer" [clearOnBackspace]="false" [items]="customerList"
                                    bindLabel="first_name" bindValue="id" placeholder="Select a customer">
                                  </ng-select>
                                </div>
                              </div>
                            </div>
                          </div> -->
                          <div *ngIf="activeTable == 0">
                            <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group row">
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" placeholder="Search customer" (keyup)="updateFilterBill($event)" />

                                    </div>
                                  </div>
                                </div>
                              </div>
                                <div class="row">
                                    <div class="col-lg-12 ">

                                      <ngx-datatable  #table class="material table-bordered" [rows]="bilList" [loadingIndicator]="loadingIndicator"
                                        [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                                        [rowHeight]="'auto'" [limit]="10">


                                      <ngx-datatable-column [width]="200" name="Customer" prop="customer" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="120" name="Bill No" prop="id" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="150" name="Bill Type" prop="bill_type" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="150" name="Subscription No" prop="subscription" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value.id }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                                      <ngx-datatable-column [width]="100" name="Session" prop="session" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                                      <ngx-datatable-column [width]="120" name="Total Amount" prop="total_amount" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      
                                    <ngx-datatable-column [width]="150" name="One Time Charge" prop="one_time_charge" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                      <ngx-datatable-column [width]="100" name="Discount" prop="discount" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="150" name="Payable Amount" prop="payable_amount" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="100" name="So Far Paid" prop="so_far_paid" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="150" name="Status" prop="status" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span *ngIf="value == 1" > <strong class="label label-danger">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 2" ><strong class="label label-warning">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 3" > <strong class="label label-success">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 4" > <strong class="label label-info">{{ billStatus[value] }}</strong> </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="150" name="Created Date" prop="created_at" [draggable]="false"
                                          [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="250" name="Action" prop="id" [draggable]="false"
                                          [sortable]="false">
                                          <ng-template let-row="row" ngx-datatable-cell-template>
                                              <button  *ngIf="row.status != 3 && row.status != 4" (click)="openModal(row ,template)" class="btn btn-info btn-mini mr-2"><i class="icofont icofont-checked"></i>Receive Payment</button>
                                              <button (click)="printInv()" class="btn btn-primary btn-mini"><i class="icofont icofont-doc"></i>Print Invoice</button>
                                          </ng-template>
                                      </ngx-datatable-column>

                                  </ngx-datatable>
                                    </div>
                                </div>
                        </div>
                        <div *ngIf="activeTable == 1">
                            <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group row">
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" placeholder="Search customer" (keyup)="updateFilterSubscription($event)" />

                                    </div>
                                  </div>
                                </div>
                              </div>
                                <div class="row">
                                    <div class="col-lg-12 ">

                                      <ngx-datatable  #table class="material table-bordered" [rows]="subscriptionBilList" [loadingIndicator]="loadingIndicator"
                                        [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                                        [rowHeight]="'auto'" [limit]="10">


                                      <ngx-datatable-column [width]="200" name="Customer" prop="customer" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="120" name="Bill No" prop="id" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="120" name="Bill Type" prop="bill_type" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                      <ngx-datatable-column [width]="120" name="Subscription" prop="subscription" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value.id }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                                      <ngx-datatable-column [width]="100" name="Session" prop="session" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                                      <ngx-datatable-column [width]="120" name="Total Amount" prop="total_amount" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      
                                      <ngx-datatable-column [width]="150" name="One Time Charge" prop="one_time_charge" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                      <ngx-datatable-column [width]="100" name="Discount" prop="discount" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="150" name="Payable Amount" prop="payable_amount" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="100" name="So Far Paid" prop="so_far_paid" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="150" name="Status" prop="status" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span *ngIf="value == 1" > <strong class="label label-danger">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 2" ><strong class="label label-warning">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 3" > <strong class="label label-success">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 4" > <strong class="label label-info">{{ billStatus[value] }}</strong> </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="150" name="Created Date" prop="created_at" [draggable]="false"
                                          [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="250" name="Action" prop="id" [draggable]="false"
                                          [sortable]="false">
                                          <ng-template let-row="row" ngx-datatable-cell-template>
                                              <button  *ngIf="row.status != 3 && row.status != 4" (click)="openModal(row ,template)" class="btn btn-info btn-mini mr-2"><i class="icofont icofont-checked"></i>Receive Payment</button>
                                              <button (click)="printInv()" class="btn btn-primary btn-mini"><i class="icofont icofont-doc"></i>Print Invoice</button>
                                            </ng-template>
                                      </ngx-datatable-column>

                                  </ngx-datatable>
                                    </div>
                                </div>
                        </div>
                        <div *ngIf="activeTable == 2">
                            <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group row">
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" placeholder="Search customer" (keyup)="updateFilterSIM($event)" />

                                    </div>
                                  </div>
                                </div>
                              </div>
                                <div class="row">
                                    <div class="col-lg-12 ">

                                      <ngx-datatable  #tableSIM class="material table-bordered" [rows]="simBilList" [loadingIndicator]="loadingIndicator"
                                        [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                                        [rowHeight]="'auto'" [limit]="10">


                                      <ngx-datatable-column [width]="200" name="Customer" prop="customer" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>


                                    <ngx-datatable-column [width]="120" name="Bill No" prop="id" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                    <ngx-datatable-column [width]="120" name="Bill Type" prop="bill_type" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                    <ngx-datatable-column [width]="120" name="Total Amount" prop="total_amount" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="150" name="One Time Charge" prop="one_time_charge" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                    <ngx-datatable-column [width]="100" name="Discount" prop="discount" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>
                                   

                                    <ngx-datatable-column [width]="150" name="Payable Amount" prop="payable_amount" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="100" name="So Far Paid" prop="so_far_paid" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="150" name="Status" prop="status" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span *ngIf="value == 1" > <strong class="label label-danger">{{ billStatus[value] }}</strong> </span>
                                            <span *ngIf="value == 2" ><strong class="label label-warning">{{ billStatus[value] }}</strong> </span>
                                            <span *ngIf="value == 3" > <strong class="label label-success">{{ billStatus[value] }}</strong> </span>
                                            <span *ngIf="value == 4" > <strong class="label label-info">{{ billStatus[value] }}</strong> </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                      <!-- <ngx-datatable-column [width]="100" name="So Far Paid" prop="so_far_paid" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column> -->

                                      <!-- <ngx-datatable-column [width]="150" name="Status" prop="status" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span *ngIf="value == 1" > <strong class="label label-danger">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 2" ><strong class="label label-warning">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 3" > <strong class="label label-success">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 4" > <strong class="label label-info">{{ billStatus[value] }}</strong> </span>
                                          </ng-template>
                                      </ngx-datatable-column> -->

                                      <ngx-datatable-column [width]="150" name="Created Date" prop="created_at" [draggable]="false"
                                          [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="250" name="Action" prop="id" [draggable]="false"
                                          [sortable]="false">
                                          <ng-template let-row="row" ngx-datatable-cell-template>
                                            <button  *ngIf="row.status != 3 && row.status != 4" (click)="openModal(row ,template)" class="btn btn-info btn-mini mr-2"><i class="icofont icofont-checked"></i>Receive Payment</button>
                                            <button (click)="printInv()" class="btn btn-primary btn-mini"><i class="icofont icofont-doc"></i>Print Invoice</button>                                          </ng-template>
                                      </ngx-datatable-column>

                                  </ngx-datatable>
                                    </div>
                                </div>
                        </div>
                        <div *ngIf="activeTable == 3">
                            <div class="row">
                                <div class="col-lg-6">
                                  <div class="form-group row">
                                    <div class="col-sm-8">
                                      <input type="text" class="form-control" placeholder="Search customer" (keyup)="updateFilterDevice($event)" />

                                    </div>
                                  </div>
                                </div>
                              </div>
                                <div class="row">
                                    <div class="col-lg-12 ">

                                      <ngx-datatable  #tableDevice class="material table-bordered" [rows]="deviceBilList" [loadingIndicator]="loadingIndicator"
                                        [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                                        [rowHeight]="'auto'" [limit]="10">


                                      <ngx-datatable-column [width]="200" name="Customer" prop="customer" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="120" name="Bill No" prop="id" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                      <ngx-datatable-column [width]="120" name="Bill Type" prop="bill_type" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                      <ngx-datatable-column [width]="120" name="Total Amount" prop="total_amount" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="150" name="One Time Charge" prop="one_time_charge" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                      <ngx-datatable-column [width]="100" name="Discount" prop="discount" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                              

                                      <ngx-datatable-column [width]="150" name="Payable Amount" prop="payable_amount" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span > {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="100" name="So Far Paid" prop="so_far_paid" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span > {{ value }} </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                    <ngx-datatable-column [width]="150" name="Status" prop="status" [draggable]="false" [sortable]="false">
                                        <ng-template let-value="value" ngx-datatable-cell-template>
                                            <span *ngIf="value == 1" > <strong class="label label-danger">{{ billStatus[value] }}</strong> </span>
                                            <span *ngIf="value == 2" ><strong class="label label-warning">{{ billStatus[value] }}</strong> </span>
                                            <span *ngIf="value == 3" > <strong class="label label-success">{{ billStatus[value] }}</strong> </span>
                                            <span *ngIf="value == 4" > <strong class="label label-info">{{ billStatus[value] }}</strong> </span>
                                        </ng-template>
                                    </ngx-datatable-column>

                                      <!-- <ngx-datatable-column [width]="150" name="Status" prop="status" [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span *ngIf="value == 1" > <strong class="label label-danger">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 2" ><strong class="label label-warning">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 3" > <strong class="label label-success">{{ billStatus[value] }}</strong> </span>
                                              <span *ngIf="value == 4" > <strong class="label label-info">{{ billStatus[value] }}</strong> </span>
                                          </ng-template>
                                      </ngx-datatable-column> -->

                                      <ngx-datatable-column [width]="150" name="Created Date" prop="created_at" [draggable]="false"
                                          [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                          </ng-template>
                                      </ngx-datatable-column>

                                      <ngx-datatable-column [width]="250" name="Action" prop="id" [draggable]="false"
                                          [sortable]="false">
                                          <ng-template let-row="row" ngx-datatable-cell-template>
                                            <button  *ngIf="row.status != 3 && row.status != 4" (click)="openModal(row ,template)" class="btn btn-info btn-mini mr-2"><i class="icofont icofont-checked"></i>Receive Payment</button>
                                            <button (click)="printInv()" class="btn btn-primary btn-mini"><i class="icofont icofont-doc"></i>Print Invoice</button>                                          </ng-template>
                                      </ngx-datatable-column>

                                  </ngx-datatable>
                                    </div>
                                </div>
                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <ng-template #template>
      <div class="modal-header ">
          <h4 class="modal-title pull-left " id="modalTitle"> Payment : Bill No - {{billItem.id}}   </h4>
          <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
              <i class="icofont icofont-close"></i>
          </button>
      </div>
      <div class="modal-body pb-0" *ngIf="billItem">
          <app-card>
            <div class="table-responsive">
                <table class="table table-styling">
                    <thead>
                        <tr class="table-primary" *ngIf="billItem.bill_type == 'Subscription'">
                            <th>Subscription:</th>
                            <th *ngIf="billItem.subscription">{{billItem.subscription.id}}</th>
                            <th>Session:</th>
                            <th >{{billItem.session}}</th>
                        </tr>
                    </thead>
                </table>
            </div>

            <div class="table-responsive" *ngIf="balanceObj">
              <table class="table">
                  <thead>
                      <tr>
                          <th width="60%">{{balanceObj.first_name}} {{balanceObj.last_name}}</th>                         
                          <th >Balance:</th>
                          <th >{{balanceObj.balance}}</th>
                      </tr>
                  </thead>
              </table>
          </div>
      

            <table class="table table-xs ">
              <tbody>
                  <tr>
                      <th>Sub-Total </th>
                      <th width="40%" class="text-right pr-4">{{subTotal}}</th>
                  </tr>
                  <tr>
                      <th>So Far Paid </th>
                      <th width="40%" class="text-right pr-4">{{billItem.so_far_paid}}</th>
                  </tr>
                  <tr class="table-info" style="font-size: 20px;">
                      <th> Payable Amount </th>
                      <th width="40%" class="text-right pr-4">{{newTotal}}</th>
                  </tr>
                  <tr>
                      <th>Discount</th>
                      <td class="pr-1">
                          <input [disabled]="isPayBalanceEnable" type="text" class="form-control form-control-sm text-right pr-3"
                              numeric numericType="number" (change)="onChangeDiscount(discount)" [(ngModel)]="discount" [ngModelOptions]="{standalone: true}">
                      </td>
                  </tr>
                <tr>
                      <th>Net-Total</th>
                      <th class="text-right pr-4">{{subTotal - discount - billItem.so_far_paid}}</th>
                  </tr>
                   <tr>
                      <th>Paid Amount</th>
                      <td class="pr-1">
                          <input [disabled]="isPayBalanceEnable" type="text" class="form-control form-control-sm text-right pr-3"
                              numeric numericType="number" (change)="onChangePaid(paidAmount)"
                              [(ngModel)]="paidAmount" [ngModelOptions]="{standalone: true}">
                      </td>
                  </tr>                  
                   <tr *ngIf="isPayBalanceEnableShow">
                        <th colspan="2"> 
                            <div class="form-group text-left">
                            <div class="checkbox-fade fade-in-primary">
                                <label>
                                    <input type="checkbox" (change)="onChangePayBalance($event.target.checked)">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span> Pay From Balance ?
                                </label>
                            </div>
                        </div>
                    </th>
                      
                  </tr>                  
              </tbody>
          </table>
          <div class="form-group row">
            <label  class="col-sm-4 col-form-label font-weight-bold pl-5">Remarks</label>
            <div class="col-sm-8">
              <textarea rows="2" type="text" [(ngModel)]="remarks" class="form-control" > </textarea>
            </div>
          </div>
          </app-card>
      </div>
      <div class="modal-footer">
          <div class="pr-4">
              <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHide()"> <i
                      class="icofont icofont-close"></i> Close</button>

              <button class="btn btn-success btn-outline-success btn-sm" (click)="onFormSubmit()"><i
                      class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
          </div>

      </div>
  </ng-template>

  <ng-template #templateGenerateBill>
    <div class="modal-header ">
        <h4 class="modal-title pull-left " [innerHtml]="modalTitleBill" id="modalTitleBill"></h4>
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalHideBill()">
            <i class="icofont icofont-close"></i>
        </button>
    </div>
    <div class="modal-body pb-0">
        <app-card>
            <form [formGroup]="entryFormBill">

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Invoice Month </label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="invoice_month" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.invoice_month.errors }" placeholder="Type invoice month">
                    <div *ngIf="submitted && f.invoice_month.errors" class="error-text">
                      <span *ngIf="f.invoice_month.errors.required" class="text-danger"> Invoice month is required</span>

                  </div>
                  </div>
                </div>

              </form>

        </app-card>
    </div>
    <div class="modal-footer">
        <div class="pr-4">
            <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHideBill()"> <i
                    class="icofont icofont-close"></i> Close</button>

            <button class="btn btn-success btn-sm btn-outline-success" (click)="onFormSubmitBill()"><i
                    class="icofont icofont-check-circled"></i> {{btnSaveTextBill}}</button>
        </div>

    </div>
</ng-template>

</block-ui>
