<block-ui>
  <div class="row">

    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-border-primary">
            <div class="card-header">
              <h5>Receive Payment </h5>
            </div>
            <div class="card-block ">

              <div class="row mb-4">
                <label class="col-lg-2 col-form-label">Customer </label>
                <div class="col-lg-4">
                  <ng-select  [clearable]="true" [items]="customersBuffer"
                    [virtualScroll]="true" [dropdownPosition]="'bottom'" [loading]="loading" bindLabel="first_name"
                    bindValue="id" placeholder="Select a customer" appendTo="body" (change)="onCustomerChange($event)"
                    [typeahead]="input$" (scroll)="onScroll($event)" (scrollToEnd)="onScrollToEnd()" #select>
                    <ng-template ng-header-tmp>
                      <small class="form-text text-muted">Loaded {{customersBuffer.length}} of
                        {{page.totalElements}}</small>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">
                      {{item.customer_code}} - {{item.first_name}} {{item.last_name}} - {{item.mobile}}
                    </ng-template>

                    <ng-template ng-option-tmp let-item="item" let-index="index">
                      {{item.customer_code}} - {{item.first_name}} {{item.last_name}} - {{item.mobile}}
                    </ng-template>
                  </ng-select>
                </div>


              <div class="col-lg-4" *ngIf="selectedCustomer">
                <tabset [justified]="false" type="pills">

                  <tab (selectTab)="changeTab('Subscription Bill',$event)">
                    <ng-template tabHeading>
                      Subscription Bill
                    </ng-template>
                  </tab>
                  <tab (selectTab)="changeTab('Device Bill',$event)">
                    <ng-template tabHeading>
                      Device Bill
                    </ng-template>
                  </tab>

                </tabset>
              </div>
            </div>
              <!-- <div class="row mb-4" *ngIf="selectedCustomer">
                <div class="col-lg-12">
                  <tabset [justified]="false" type="pills">

                    <tab (selectTab)="changeTab('Subscription Bill',$event)">
                      <ng-template tabHeading>
                        Subscription Bill
                      </ng-template>
                    </tab>
                    <tab (selectTab)="changeTab('Device Bill',$event)">
                      <ng-template tabHeading>
                        Device Bill
                      </ng-template>
                    </tab>

                  </tabset>
                </div>
              </div> -->

              <!-- <div class="row">
                <div class="col-lg-7">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input type="text" [(ngModel)]="searchParam" class="form-control"
                        placeholder="Search SIM by CID No, ICCID No, Phone Number" (keyup)="filterSearch($event)" />

                    </div>
                  </div>
                </div>
              </div> -->
              <div class="row " *ngIf="selectedCustomer">
                <div class="col-lg-12 ">


                  <ngx-datatable *ngIf="billType == 'Subscription Bill'" class="material table-bordered" [scrollbarH]="true" [rows]="rows"
                    [loadingIndicator]="loadingIndicator" [externalPaging]="true" [columnMode]="ColumnMode.force"
                    [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [count]="pageTable.totalElements"
                    [offset]="pageTable.pageNumber" [limit]="page.size" (page)="setPage($event)">


                    <ngx-datatable-column [width]="200" name="Customer" prop="customer" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="Bill No" prop="id" [draggable]="false"
                    [sortable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span> {{ value }} </span>
                    </ng-template>
                  </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Bill Type" prop="bill_type" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Subscription No" prop="subscription" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value.id }} </span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="150" name="Session" prop="session" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [width]="120" name="Total Amount" prop="total_amount" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="Discount" prop="discount" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Payable Amount" prop="payable_amount" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="So Far Paid" prop="so_far_paid" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Total Refunded" prop="parent_refund_amount"
                      [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="170" name="Status" prop="status" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="value == 1"> <strong class="label label-danger">{{ billStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 2"><strong class="label label-warning">{{ billStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 3"> <strong class="label label-success">{{ billStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 4"> <strong class="label label-info">{{ billStatus[value] }}</strong>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="170" name="Created Date" prop="created_at" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{value | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="250" name="Action" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <button *ngIf="row.status != 3 && row.status != 4" (click)="openModal(row ,template)"
                          class="btn btn-info btn-mini mr-2"><i class="icofont icofont-checked"></i>Receive
                          Payment</button>
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>

                  <ngx-datatable *ngIf="billType == 'Device Bill'" class="material table-bordered" [scrollbarH]="true" [rows]="rows"
                    [loadingIndicator]="loadingIndicator" [externalPaging]="true" [columnMode]="ColumnMode.force"
                    [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [count]="pageTable.totalElements"
                    [offset]="pageTable.pageNumber" [limit]="page.size" (page)="setPage($event)">


                    <ngx-datatable-column [width]="200" name="Customer" prop="customer" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="Bill No" prop="id" [draggable]="false"
                    [sortable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span> {{ value }} </span>
                    </ng-template>
                  </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Bill Type" prop="bill_type" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="120" name="Total Amount" prop="total_amount" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="One Time Charge" prop="one_time_charge"
                      [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="Discount" prop="discount" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Payable Amount" prop="payable_amount" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="100" name="So Far Paid" prop="so_far_paid" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Total Refunded" prop="parent_refund_amount"
                      [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="170" name="Status" prop="status" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="value == 1"> <strong class="label label-danger">{{ billStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 2"><strong class="label label-warning">{{ billStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 3"> <strong class="label label-success">{{ billStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 4"> <strong class="label label-info">{{ billStatus[value] }}</strong>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="170" name="Created Date" prop="created_at" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{value | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="250" name="Action" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <button *ngIf="row.status != 3 && row.status != 4" (click)="openModal(row ,template)"
                          class="btn btn-info btn-mini mr-2"><i class="icofont icofont-checked"></i>Receive
                          Payment</button>
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <ng-template #template>
    <div class="modal-header ">
      <h4 class="modal-title pull-left " id="modalTitle"> Payment : Bill No - {{billItem.id}} </h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body pb-0" *ngIf="billItem">
      <app-card>
        <div class="table-responsive">
          <table class="table table-styling">
            <thead>
              <tr class="table-primary" *ngIf="billItem.bill_type == 'Subscription'">
                <th>Subscription:</th>
                <th *ngIf="billItem.subscription">{{billItem.subscription.id}}</th>
                <th>Session:</th>
                <th>{{billItem.session}}</th>
              </tr>
            </thead>
          </table>
        </div>

        <div class="table-responsive" *ngIf="balanceObj">
          <table class="table">
            <thead>
              <tr>
                <th width="60%">{{balanceObj.first_name}} {{balanceObj.last_name}}</th>
                <th> {{isbalanceDeduct ? 'Remaining Balance:':'Balance:'}} </th>
                <th>{{balance - tempPaidAmount}}</th>
              </tr>
            </thead>
          </table>
        </div>


        <table class="table table-xs ">
          <tbody>
            <tr>
              <th>Sub-Total </th>
              <th width="60%" class="text-right pr-4">{{subTotal}}</th>
            </tr>
            <tr>
              <th>So Far Paid </th>
              <th width="60%" class="text-right pr-4">{{billItem.so_far_paid}}</th>
            </tr>
            <tr>
              <th>Total Refunded </th>
              <th width="60%" class="text-right pr-4">{{billItem.parent_refund_amount}}</th>
            </tr>
            <!-- <tr class="table-info" style="font-size: 20px;">
                      <th> Payable Amount </th>
                      <th width="40%" class="text-right pr-4">{{newTotal}}</th>
                  </tr> -->
            <!-- <tr>
                      <th>Discount</th>
                      <td class="pr-1">
                          <input [disabled]="isPayBalanceEnable" type="text" class="form-control form-control-sm text-right pr-3"
                              numeric numericType="number" (change)="onChangeDiscount(discount)" [(ngModel)]="discount" [ngModelOptions]="{standalone: true}">
                      </td>
                  </tr> -->

            <tr class="table-info" style="font-size: 18px;">
              <th> Payable Amount </th>
              <th class="text-right pr-4">{{subTotal - (billItem.so_far_paid - billItem.parent_refund_amount)}}</th>
            </tr>
            <tr>
              <th>Payment Method</th>
              <td class="pr-1">
                <ng-select [(ngModel)]="selectedMethod" (change)="onChangePayBalance($event)" [clearable]="false"  [clearOnBackspace]="false" [items]="methodList" bindLabel="name"></ng-select>
              </td>
            </tr>
            <tr class="table-info" style="font-size: 20px;">
              <th>Paid Amount</th>
              <td class="pr-1">
                <input (focus)="inputFocused($event)" [disabled]="isPayBalanceEnable" type="text" class="form-control form-control-sm text-right pr-3"
                  numeric numericType="number" (keyup)="onChangePaid(paidAmount)" [(ngModel)]="paidAmount"
                  [ngModelOptions]="{standalone: true}">
              </td>
            </tr>


            <!-- <tr *ngIf="isPayBalanceEnableShow">
              <th colspan="2">
                <div class="form-group text-left">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" (change)="onChangePayBalance($event.target.checked)">
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span> Pay From Balance ?
                    </label>
                  </div>
                </div>
              </th>
            </tr> -->

          </tbody>
        </table>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label font-weight-bold pl-5">Remarks</label>
          <div class="col-sm-8">
            <textarea rows="2" type="text" [(ngModel)]="remarks" class="form-control"> </textarea>
          </div>
        </div>
      </app-card>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHide()"> <i
            class="icofont icofont-close"></i> Close</button>

        <button class="btn btn-success btn-outline-success btn-sm" (click)="onFormSubmit()"><i
            class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
      </div>

    </div>
  </ng-template>



</block-ui>
