<block-ui>

  <div class="card">
      <div class="card-block">
        <div class="row invoive-info mb-0" *ngIf="details">
          <div class="col-md-4 col-xs-12 invoice-client-info mb-5" >
            <h6>Customer Information :</h6>
            <div class="div-pointer" (click)="gotoPage(details)">
              <p class="fs-14 mb-0"><b>Customer Name : {{details.customer_full_name}} </b> <span>
                <strong *ngIf="details.customer_is_wholesaler" class="label label-success"> Wholesaler</strong>
                <strong *ngIf="!details.customer_is_wholesaler" class="label label-success"> Retailer</strong>
              </span></p>
              <p class="fs-14 mb-0" *ngIf="details.customer_acc_number"><b>Account Number : {{details.customer_acc_number}}</b></p>
              <p class="fs-14 mb-0" *ngIf="details.customer_email"><b>Email : {{details.customer_email}}</b></p>
              <p class="fs-14 mb-0" *ngIf="details.customer_mobile"><b>Mobile : {{details.customer_mobile}} </b></p>
              <p class="fs-14 mb-0" *ngIf="details.customer_telephone"><b>Telephone : {{details.customer_telephone}} </b></p>
              <p class="fs-14 mb-0" *ngIf="details.customer_gender"><b>Gender : {{details.customer_gender == 1 ? "Male" : "Female"}} </b></p>
              <p class="fs-14 mb-0" *ngIf="details.customer_address_one"><b>Address : {{details.customer_address_one}} {{details.customer_address_two}}</b></p>
            </div>
            <p class="fs-14 mb-0"><b>{{isbalanceDeduct ? 'Remaining Balance :':'Balance :'}} <span class="text-primary font-weight-bold">{{balance - tempPaidAmount}}</span> &nbsp; <i class="div-pointer text-info cofont icofont-plus" (click)="gotoPage(details)"></i> </b></p>

          </div>


          <div class="col-md-4 col-xs-12">
            <div class="row mr-1 d-flex justify-content-center text-center">
              <div class="col-12">
                <h6>Invoice No:</h6>
                <p class="fs-14 mb-0"><b>{{details.bill_no}}</b></p>

              </div>
            </div>

          </div>
          <div class="col-md-4 col-xs-12">
            <div class="row float-right mr-1">
              <div class="col-12">
                <h6>Invoice Session :</h6>
                <p class="fs-14 mb-0"><b>{{details.billing_month | date:'MMMM, y'}}</b></p>

              </div>
            </div>

          </div>

        </div>

        <div *ngIf="details">
        <div class="row" >
          <div class="col-sm-12">
            <div class="table-responsive">
              <table class="table  invoice-detail-table">
                <thead>
                  <tr class="thead-default">
                    <th width="1%">#SL</th>
                    <th width="15%">SIM CID No</th>
                    <th width="20%">SIM ICCID No</th>
                    <th width="15%">Phone Number</th>
                    <th width="15%">IMEI</th>
                    <th width="17%">Package Name</th>
                    <th width="17%">Note(s)</th>
                    <th width="15%">Sale Platform</th>
                    <th width="15%">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of details.bill_items; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{item.CID_no}}</td>
                    <td>{{item.ICCID_no}}</td>
                    <td>{{item.phone_number}}</td>
                    <td>
                      <span *ngIf="item.IMEI"> {{item.IMEI}}</span>
                      <span *ngIf="!item.IMEI"> N/A </span>
                    </td>
                    <td>{{item.pckg_name}}</td>
                    <td>
                      <span *ngIf="item.pckg_advance_pmnt_desc"> {{item.pckg_advance_pmnt_desc}}</span>
                      <span *ngIf="!item.pckg_advance_pmnt_desc"> -- </span>
                    </td>
                    <td>{{item.selling_platform}}</td>
                    <td>{{item.current_month_price}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        </div>

        <div class="row mb-5" *ngIf="details">
          <div class="col-sm-6">

            <div class="row mt-5 pt-5">
              <div *ngIf="due > 0"  class="col-sm-12">
                <h5 class="text-dark">NOTE</h5>
                <p class="text-dark">You are collecting payment for the month of {{details.billing_month | date:'MMMM, y'}} </p>
              </div>
              <div class="col-sm-12 mt-2">
                <h5 class="text-dark">PAYMENT STATUS</h5>
                <p  class="text-dark" *ngIf="details.payment_status == 1"> NOT PAID </p>
                <p  class="text-dark" *ngIf="details.payment_status == 2"> PARTIALLY PAID </p>
                <p class="text-dark" *ngIf="details.payment_status == 3"> PAID </p>
                <p class="text-dark" *ngIf="details.payment_status == 4"> FULLY PAID WITH REFUND </p>
              </div>
            </div>



          </div>
          <div class="col-sm-6">
            <table class="table table-responsive invoice-table invoice-total">
              <tbody>

                <tr>
                  <th>Total :</th>
                  <td>{{details.total_amount}}</td>
                </tr>
                <tr>
                  <th>Discount (-):</th>
                  <td>{{details.overall_discount}}</td>
                </tr>
                <tr>
                  <th><h6 class="font-weight-bold">Grand Total:</h6></th>
                  <td> <h6 class="font-weight-bold">{{details.grand_total}}</h6></td>
                </tr>
                <tr>
                  <td>
                    <h6 class="font-weight-bold">Already Paid :</h6>
                  </td>
                  <td>
                    <h6 class="font-weight-bold">{{details.already_paid}}</h6>
                  </td>
                </tr>

                <tr *ngIf="due > 0" class="text-danger">
                  <td>
                    <h6 class="font-weight-bold">Due :</h6>
                  </td>
                  <td>
                    <h6 class="font-weight-bold">{{details.due}}</h6>
                  </td>
                </tr>

                <!-- <tr *ngIf="isPayBalanceEnableShow">
                  <th colspan="2">
                    <div class="form-group text-right mt-2">
                      <div class="checkbox-fade fade-in-primary">
                        <label>
                          <input type="checkbox" (change)="onChangePayBalance($event.target.checked)">
                          <span class="cr">
                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                          </span> Pay From Balance ?
                        </label>
                      </div>
                    </div>
                  </th>
                </tr> -->
                <tr class="text-info">
                  <th> <h6 class="font-weight-bold pt-2">Payment Method :</h6> </th>
                  <td class="pr-1">
                    <ng-select  [(ngModel)]="selectedMethod" (change)="onChangePayBalance($event)" [clearable]="false"  [clearOnBackspace]="false" [items]="methodList" bindLabel="name"></ng-select>
                  </td>
                </tr>

                <tr class="text-success">
                  <th>
                    <h5 class="text-primary pt-2">Paid Amount :</h5>
                  </th>
                  <td class="pr-1">
                    <input [disabled]="isPayBalanceEnable" type="text" class="form-control text-right pr-3" numeric
                      numericType="number" (keyup)="onChangePaid(paidAmount)" [(ngModel)]="paidAmount" (focus)="inputFocused($event)"
                      [ngModelOptions]="{standalone: true}">
                  </td>
                </tr>

                <tr>
                  <th>
                    <h5 class="text-primary pt-2">Remarks :</h5>
                  </th>
                  <td class="pr-1">
                    <textarea rows="2" type="text" [(ngModel)]="remarks" class="form-control"> </textarea>
                  </td>
                </tr>

                <tr>
                  <th colspan="2" >
                    <div class="row float-right mt-3">
                      <button type="button" (click)="location.back()" class="btn btn-info waves-effect waves-light mr-2"> <i class="icofont icofont-arrow-left"></i> Back
                      </button>
                        <button *ngIf="due > 0" (click)="onFormSubmitBill()" type="button" class="btn btn-primary btn-print-invoice waves-effect waves-light m-r-20">
                          CONFIRM & SUBMIT
                        </button>


                    </div>
                  </th>
                </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

</block-ui>
