<block-ui>

      <div class="row">
          <div class="col-lg-6 offset-lg-3">
              <div class="card card-border-primary">
                  <div class="card-header">
                      <h5> Change Password </h5>
                      <!-- <button class="btn btn-primary btn-sm float-right" (click)="openModal(template)"><i
                              class=" icofont icofont-plus "></i>Create Product</button> -->
                  </div>
                  <div class="card-block ">
                      <div class="row ">
                          <div class="col-lg-12 ">

                            <form class="md-float-material" [formGroup]="changePasswordForm">
                                
                                <div class="auth-box">

                                    <div class="input-group">
                                        <input type="password" formControlName="oldPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" placeholder="Enter your old password" required>
                                    </div>
                                    <div *ngIf="submitted && f.oldPassword.errors" class="error-text">
                                        <span *ngIf="f.oldPassword.errors.required" class="text-danger"> Old password is required</span>
                                    </div>
                                   
                                    <div class="input-group">
                                        <input type="password" formControlName="newPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.newPassword.errors }" placeholder="Enter your new password" required>
                                    </div>
                                    <div *ngIf="submitted && f.newPassword.errors" class="error-text">
                                        <span *ngIf="f.newPassword.errors.required" class="text-danger">New Password is required</span>
                                    </div>
    
                                    <div class="input-group">
                                        <input type="password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirm Password" required>
                                    </div>
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="error-text">
                                        <span *ngIf="f.confirmPassword.errors.required" class="text-danger">Confirm Password is required</span>
                                        <span *ngIf="f.confirmPassword.errors.mustMatch" class="text-danger">Passwords must match</span>
                                    </div>
                                        
                                    <div class="row m-t-30">
                                        <div class="col-md-12">
                                            <button type="button" (click)="onSubmit()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Change</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                             
                          </div>

                      </div>
                  </div>
                  <div class="card-footer ">

                  </div>
                  <!-- end of card-footer -->
              </div>
          </div>
      </div>

</block-ui>