<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <h5>Subscription List </h5>
                        </div>
                        <div class="card-block ">
                          <div class="row ">
                            <div class="col-lg-6">

                              <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Wholesaler </label>
                                <div class="col-sm-8">
                                  <ng-select (change)="onCustomerChange($event)"  [clearable]="false"  [clearOnBackspace]="false" [items]="customerList"
                                    bindLabel="first_name" bindValue="id" placeholder="Search a wholesaler">
                                  </ng-select>
                                </div>
                              </div>

                            </div>
                          </div>

                            <div class="row ">
                                <div class="col-lg-12 ">
                                  <ngx-datatable #dataTable class="material table-bordered" [rows]="rows"
                                  [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                                  [headerHeight]="40" [limit]="10" [footerHeight]="50" rowHeight="auto">



                                         <!-- Row Detail Template -->
                                         <ngx-datatable-row-detail  [rowHeight]="'100%'">
                                          <ng-template let-row="row" let-expanded="expanded"
                                              ngx-datatable-row-detail-template>
                                              <div class="w-100">
                                                  <table
                                                      class="table table-xs table-hover table-bordered table-striped">
                                                      <thead>
                                                          <tr>
                                                              <th width="40%" scope="col">SIM</th>
                                                              <th width="30%" scope="col">Plan</th>
                                                              <th width="30%" scope="col">Status</th>
                                                          </tr>
                                                      </thead>
                                                      <tbody>
                                                          <tr *ngFor="let item of row.details">
                                                              <th>{{item.sim}}</th>
                                                              <th>{{item.plan}}</th>
                                                              <th>{{SubsItemsStaus[item.status]}}</th>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                              </div>
                                          </ng-template>
                                      </ngx-datatable-row-detail>

                                      <ngx-datatable-column [width]="30" name="#" [resizeable]="false"
                                          [sortable]="false" [draggable]="false" [canAutoResize]="false">
                                          <ng-template let-row="row" let-expanded="expanded"
                                              ngx-datatable-cell-template>
                                              <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                                  [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                                  (click)="toggleExpandRow(row)">
                                              </a>
                                          </ng-template>
                                      </ngx-datatable-column>

                                  <ngx-datatable-column [width]="8" name="SL" prop="id" [draggable]="false" [sortable]="false">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          <span > {{ row.id }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="200" name="Subscripton No" prop="alias" [draggable]="false" [sortable]="false">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          <span > {{ row.alias }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="200" name="Wholesaler Name" prop="customer" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="100" name="Activation Date" prop="activation_date" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="100" name="Cancellation Date" prop="cancellation_date" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span *ngIf="value" >  {{ value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                        <span *ngIf="!value" >  --- </span>
                                      </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column [width]="100" name="Subscripton Status" prop="status" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span >  {{ SubscriptionStatus[value]}} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <!-- <ngx-datatable-column [width]="80" name="Created Date" prop="created_at" [draggable]="false"
                                      [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                      </ng-template>
                                  </ngx-datatable-column> -->

                              </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</block-ui>
