<block-ui>

  <div class="row" *ngIf="stock">

    <div class="col-md-3 mb-3">
      <div class="card client-blocks dark-primary-border">
        <div class="card-block">
          <h5>All Stock Quantity</h5>
          <ul>
            <li> <img class="text-danger" src="assets/icon/custom/all-stock.png">
            </li>
            <li class="text-right f-42">
              {{stock.stock_qty}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card client-blocks success-border">
        <div class="card-block">
          <h5>Available Stock Quantity </h5>
          <ul>
            <li> <img class="text-danger" src="assets/icon/custom/available.png">
            </li>
            <li class="text-right text-success f-42">
              {{stock.available_stock_qty}}
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-3 mb-3">
      <div class="card client-blocks">
        <div class="card-block">
          <h5>Sold Quantity</h5>
          <ul>
            <li> <img class="text-danger" src="assets/icon/custom/sold.png">
            </li>
            <li class="text-right text-primary f-42">
              {{stock.sold_qty}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-3">
      <div class="card client-blocks warning-border">
        <div class="card-block">
          <h5>Cancelled Quantity</h5>
          <ul>
            <li> <img class="text-danger" src="assets/icon/custom/cancel.png">
            </li>
            <li class="text-right text-warning f-42">
              {{stock.cancelled_qty}}
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>

  <div class="row">

    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-border-primary">
            <div class="card-header">
              <h5>Device List </h5>
            </div>
            <div class="card-block ">

              <div class="row mb-4">
                <div class="col-lg-12">
                  <tabset [justified]="false" type="pills">

                    <tab (selectTab)="changeTab('Available',$event)">
                      <ng-template tabHeading>
                        Available
                      </ng-template>
                    </tab>
                    <tab (selectTab)="changeTab('Sold',$event)">
                      <ng-template tabHeading>
                        Sold
                      </ng-template>
                    </tab>
                    <tab (selectTab)="changeTab('Cancelled',$event)">
                      <ng-template tabHeading>
                        Cancelled
                      </ng-template>
                    </tab>
                    <tab (selectTab)="changeTab('Permanently Cancelled',$event)">
                      <ng-template tabHeading>
                        Permanently Cancelled
                      </ng-template>
                    </tab>
                  </tabset>
                </div>
              </div>


              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input type="text" class="form-control" placeholder="Filter by imei, customer name.."
                        (keyup)="filterSearch($event)" />

                    </div>
                  </div>
                </div>
              </div>

              <div class="row ">
                <div class="col-lg-12 ">
                  <!-- <ngx-datatable class="material table-bordered" [rows]="rows" [scrollbarH]="true"
                                  [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                                  [headerHeight]="40" [externalPaging]="true" [footerHeight]="50" rowHeight="auto" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                  (page)="setPage($event)"> -->
                  <ngx-datatable class="material table-bordered" [scrollbarH]="true" [rows]="rows"
                    [loadingIndicator]="loadingIndicator" [externalPaging]="true" [columnMode]="ColumnMode.force"
                    [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [count]="page.totalElements"
                    [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">

                    <!-- <ngx-datatable-column [width]="8" name="SL" prop="id" [draggable]="false" [sortable]="false">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          <span > {{ row.id }} </span>
                                      </ng-template>
                                  </ngx-datatable-column> -->

                    <ngx-datatable-column [width]="100" name="DID No" prop="DID_no" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="200" name="IMEI" prop="IMEI" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value ? value : "_ _ _"}} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Available'" [width]="120" name="Last Returned At"
                    prop="last_returned_at" [draggable]="false" [sortable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span *ngIf="!value"> -- </span>
                      <span *ngIf="value"> {{value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}}</span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column *ngIf="tabType == 'Cancelled'" [width]="120" name="Last Cancelled At"
                  prop="last_cancelled_at" [draggable]="false" [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="!value"> -- </span>
                    <span *ngIf="value"> {{value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}}</span>
                  </ng-template>
                </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Sold'" [width]="120" name="Current Customer"
                      prop="customer_full_name" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <a [routerLink]="['/customer-details/'+row.current_owner]" routerLinkActive="router-link-active"
                          target="_blank"> {{ row.customer_full_name }} </a>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Cancelled'" [width]="120" name="Last Customer"
                      prop="customer_full_name" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <a [routerLink]="['/customer-details/'+row.current_owner]" routerLinkActive="router-link-active"
                          target="_blank"> {{ row.customer_full_name }} </a>
                      </ng-template>
                    </ngx-datatable-column>


                    <ngx-datatable-column [width]="80" name="Status" prop="status" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="value == 1"> <strong class="label label-success">{{ StockStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 2"> <strong class="label label-info">{{ StockStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 3"> <strong class="label label-primary">{{ StockStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 4"> <strong class="label label-warning">{{ StockStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 5"> <strong class="label label-danger">{{ StockStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 6"> <strong class="label label-primary">{{ StockStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 7"> <strong class="label label-primary">{{ StockStatus[value] }}</strong>
                        </span>
                        <span *ngIf="value == 8"> <strong class="label label-danger">{{ StockStatus[value] }}</strong>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Action"   [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>

                        <button class="btn btn-info btn-mini mr-1" (click)="openModal(row, template)">
                          See Life Cycle History
                        </button>

                        <button *ngIf="tabType == 'Cancelled'" (click)="onSubmitAction('return',row)" class="btn btn-success btn-mini mr-1"><i class="icofont icofont-arrow-left"></i>Return
                        To Stock</button>

                        <button *ngIf="tabType == 'Cancelled'" (click)="onSubmitAction('permanently_cancel',row)" class="btn btn-danger btn-mini mr-1"><i class="icofont icofont-close"></i>Permanently Cancel</button>


                      </ng-template>
                    </ngx-datatable-column>


                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>







  <ng-template #template>
    <div class="modal-header ">
      <h4 class="modal-title pull-left " id="modalTitle"> Device Lifecycle</h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body pb-0" style="height: 550px;overflow-y: auto;">
      <app-card>
        <div class="row">

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 mb-3" *ngIf="deviceObj">
                <p class="fs-14 mb-0"> Device DID No : <b>{{deviceObj.DID_no}}</b></p>
                <p class="fs-14 mb-0"> Device IMEI : <b>{{deviceObj.IMEI}}</b></p>
              </div>

              <div class="col-md-8">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Search by customer, imei, event.."
                      (keyup)="filterDeviceLifecycleSearch($event)" />

                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <ngx-datatable class="material table-bordered" [scrollbarH]="true" [rows]="deviceLifecycleDetails"
                  [loadingIndicator]="loadingIndicator" [externalPaging]="true" [columnMode]="ColumnMode.force"
                  [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [count]="pageLifeCycle.totalElements"
                  [offset]="pageLifeCycle.pageNumber" [limit]="pageLifeCycle.size" (page)="setLifeCyclePage($event)">

                  <ngx-datatable-column [width]="150" name="Event " prop="event" [draggable]="false" [sortable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span> {{ value }} </span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="80" name="Customer" [draggable]="false" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <span *ngIf="row.customer_full_name"> {{ row.customer_full_name }} </span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="80" name="Member" [draggable]="false" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <span *ngIf="!row.customer_full_name"> {{ row.member_full_name }} </span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="80" name="Date" prop="created_at" [draggable]="false"
                    [sortable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span> {{ value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}} </span>
                    </ng-template>
                  </ngx-datatable-column>

                </ngx-datatable>

              </div>

            </div>
          </div>
        </div>

      </app-card>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHide()"> <i
            class="icofont icofont-close"></i> Close</button>
      </div>

    </div>
  </ng-template>

</block-ui>
