<block-ui>
    <div class="row" *ngIf="stock">

        <div class="col-md-6 col-xl-4 mb-3">
            <div class="card client-blocks dark-primary-border">
                <div class="card-block">
                    <h5>All Stock Quantity</h5>
                    <ul>
                        <li> <img class="text-danger" src="assets/icon/custom/all-stock.png">
                        </li>
                        <li class="text-right f-42">
                            {{stock.stock_qty}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4 mb-3">
            <div class="card client-blocks success-border">
                <div class="card-block">
                    <h5>Available Stock Quantity </h5>
                    <ul>
                        <li> <img class="text-danger" src="assets/icon/custom/available.png">
                        </li>
                        <li class="text-right text-success f-42">
                            {{stock.available_stock_qty}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-xl-4 mb-3">
            <div class="card client-blocks warning-border">
                <div class="card-block">
                    <h5>Cancelled Quantity</h5>
                    <ul>
                        <li> <img class="text-danger" src="assets/icon/custom/cancel.png">
                        </li>
                        <li class="text-right text-warning f-42">
                            {{stock.cancelled_qty}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="col-md-6 col-xl-4 mb-3">
            <div class="card client-blocks dark-primary-border">
                <div class="card-block">
                    <h5>Reissued Quantity</h5>
                    <ul>
                        <li> <img class="text-danger" src="assets/icon/custom/return.png">
                        </li>
                        <li class="text-right f-42">
                            {{stock.reissued_qty}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4 mb-3">
            <div class="card client-blocks">
                <div class="card-block">
                    <h5>Subscribed Quantity</h5>
                    <ul>
                        <li> <img class="text-danger" src="assets/icon/custom/subscribe.png">
                        </li>
                        <li class="text-right text-primary f-42">
                            {{stock.subscribed_qty}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4 mb-3">
            <div class="card client-blocks danger-border">
                <div class="card-block">
                    <h5>Permanently Cancelled Quantity </h5>
                    <ul>
                        <li> <img class="text-danger" src="assets/icon/custom/p_cancel.png">
                        </li>
                        <li class="text-right text-danger f-42">
                            {{stock.permanently_cancelled_qty}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-xl-4 mb-3">
          <div class="card client-blocks warning-border">
              <div class="card-block">
                  <h5>Held Quantity</h5>
                  <ul>
                      <li> <img class="text-warning" src="assets/icon/custom/held.png">
                      </li>
                      <li class="text-right text-warning f-42">
                          {{stock.held_qty}}
                      </li>
                  </ul>
              </div>
          </div>
      </div>

      <div class="col-md-6 col-xl-4 mb-3">
        <div class="card client-blocks success-border">
            <div class="card-block">
                <h5>Sold Quantity</h5>
                <ul>
                    <li> <img class="text-success" src="assets/icon/custom/sold2.png">
                    </li>
                    <li class="text-right text-success f-42">
                        {{stock.sold_qty}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-xl-4 mb-3">
        <div class="card client-blocks danger-border">
            <div class="card-block">
                <h5>Damaged Quantity </h5>
                <ul>
                    <li> <img class="text-danger" src="assets/icon/custom/box.png">
                    </li>
                    <li class="text-right text-danger f-42">
                        {{stock.damaged_qty}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    </div>

</block-ui>
