<block-ui>
  <form [formGroup]="entryForm">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-border-default">
          <div class="card-header">
            <h5>Hold Entire Subscription From Next Month </h5>
            <!-- <span class="code-header ">use class <code>table</code> inside table element</span> -->
          </div>
          <div class="card-block ">
            <div class="row">
              <div class="col-md-12">
                <div class="btn-group float-right" dropdown placement="bottom right">
                  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                          aria-controls="dropdown-basic">
                    Subscription <span class="caret"></span>
                  </button>

                  <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
                      role="menu" aria-labelledby="button-animated">
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/create-subscription']" routerLinkActive="router-link-active" > Create Subscription</a></li>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/add-product-to-subscription']" routerLinkActive="router-link-active" >Add Product To Subscription </a></li>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/subscription-list']" routerLinkActive="router-link-active" >All Subscription List</a></li>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/wholesaler-subscription-list']" routerLinkActive="router-link-active" > Wholesaler Subscription List</a></li>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/retailer-subscription-list']" routerLinkActive="router-link-active" > Retailer Subscription List</a></li>
                    <hr>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/change-current-month-subscription']" routerLinkActive="router-link-active" >Change Current Month Subscription </a></li>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/remove-product-from-current-month']" routerLinkActive="router-link-active" >Remove Product From Current Month </a></li>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cancel-entrie-subscription-from-current-month']" routerLinkActive="router-link-active" >Cancel Entrie Subscription From Current Month </a></li>
                    <hr>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/change-next-month-subscription']" routerLinkActive="router-link-active" >Change Next Month Subscription </a></li>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/remove-product-from-next-month']" routerLinkActive="router-link-active" >Remove Product From Next Month </a></li>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/cancel-entrie-subscription-from-next-month']" routerLinkActive="router-link-active" >Cancel Entrie Subscription From Next Month </a></li>

                  </ul>
                </div>
              </div>
            </div>
            <hr>
            <div class="row ">
              <div class="col-lg-6">

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Customer </label>
                  <div class="col-sm-8">
                    <ng-select (change)="onCustomerChange($event)" [ngClass]="{ 'is-invalid': submitted && f.customer.errors }" [clearable]="false" formControlName="customer" [clearOnBackspace]="false" [items]="customerList"
                      bindLabel="first_name" bindValue="id" placeholder="Select a customer">
                    </ng-select>
                    <div *ngIf="submitted && f.customer.errors" class="error-text">
                      <span *ngIf="f.customer.errors.required" class="text-danger"> Customer is required</span>

                  </div>
                  </div>
                </div>


              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Subscription </label>
                  <div class="col-sm-8">
                    <ng-select (change)="onSubscriptionChange($event)" [ngClass]="{ 'is-invalid': submitted && f.subscription.errors }" [clearable]="false" formControlName="subscription" [clearOnBackspace]="false" [items]="subscriptionList"
                    bindLabel="id" bindValue="id" placeholder="Select subscription">

                    <ng-template ng-option-tmp let-item="item" let-index="index">

                      <div>
                        <div class="card-body">
                          <div class="row mb-3">
                            <div class="col-sm-6 pt-2"><h6 class="card-subtitle text-muted">Subscription No: {{item.id}}</h6></div>
                            <div class="col-sm-6">
                              <span *ngIf="item.status == 1" class=" card-subtitle"> Status : <strong class="label label-success">{{ SubscriptionStatus[item.status] }}</strong></span>
                              <span *ngIf="item.status == 2" class=" card-subtitle"> Status : <strong class="label label-warning">{{ SubscriptionStatus[item.status] }}</strong></span>
                              <span *ngIf="item.status == 3" class=" card-subtitle"> Status : <strong class="label label-warning">{{ SubscriptionStatus[item.status] }}</strong></span>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                            <p class="card-text">  Id : {{item.alias}}</p>
                            <p class="card-text" *ngIf="item.future_state_type == 'Will_Hold'"> <em class="text-warning" style="white-space: pre-wrap;"> {{item.future_state}} </em></p>
                          </div>
                          </div>



                        </div>
                    </div>
                  </ng-template>


                  </ng-select>
                    <div *ngIf="submitted && f.subscription.errors" class="error-text">
                      <span *ngIf="f.subscription.errors.required" class="text-danger"> Subscription is required</span>

                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card card-border-default">
          <div class="card-header">
            <h5></h5>
            <!-- <span class="code-header ">use class <code>table</code> inside table element</span> -->
          </div>
          <div class="card-block ">
            <div class="row ">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-xs table-hover table-bordered table-striped">
                    <thead>
                      <tr>
                        <th width="20%" scope="col">SIM</th>
                        <th width="20%" scope="col">Plan</th>
                        <th width="20%" scope="col">Amount</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="itemHistory" *ngFor="let item of itemFormArray; let i = index;">
                        <tr  [formGroupName]="i">
                            <th>
                              <ng-select [clearable]="false" appendTo="body" (change)="onSIMChange($event, item)" [ngClass]="{ 'is-invalid': submitted && item_his.controls[i].get('sim').errors}" formControlName="sim" [clearOnBackspace]="false" [items]="simList"
                              bindLabel="id" placeholder="Select a sim"></ng-select>
                              <div *ngIf="submitted && item_his.controls[i].get('sim').errors" class="error-text">
                                <small *ngIf="item_his.controls[i].get('sim').errors.required" class="text-danger"> SIM
                                  is required</small>

                              </div>
                            </th>
                            <th>
                              <ng-select [clearable]="false" appendTo="body" [clearOnBackspace]="false" [ngClass]="{ 'is-invalid': submitted && item_his.controls[i].get('plan').errors}" formControlName="plan"  [items]="planList"
                            bindLabel="plan" bindValue="id" placeholder="Select a plan"></ng-select>
                            <div *ngIf="submitted && item_his.controls[i].get('plan').errors" class="error-text">
                              <small *ngIf="item_his.controls[i].get('plan').errors.required" class="text-danger"> Plan is required</small>

                            </div>
                            </th>
                            <th>
                              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && item_his.controls[i].get('amount').errors}" formControlName="amount"  />
                            <div *ngIf="submitted && item_his.controls[i].get('amount').errors" class="error-text">
                              <small *ngIf="item_his.controls[i].get('amount').errors.required" class="text-danger"> Amount is required</small>
                            </div>
                            </th>
                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-lg-4 offset-lg-8">
                <!-- <table class="table table-xs table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>Sub-Total {{itemTotal()}}</th>
                            <th class="text-right pr-4">{{subTotal}}</th>
                        </tr>
                        <tr>
                            <th>Discount</th>
                            <td class="pr-1">
                                <input  type="text" class="form-control form-control-sm text-right pr-3"
                                    numeric numericType="number" (change)="onChangeDiscount(discount)" [(ngModel)]="discount" [ngModelOptions]="{standalone: true}">
                            </td>
                        </tr>
                      <tr>
                            <th>Net-Total</th>
                            <th class="text-right pr-4">{{subTotal - discount}}</th>
                        </tr>
                         <tr>
                            <th>Paid Amount</th>
                            <td class="pr-1">
                                <input type="text" class="form-control form-control-sm text-right pr-3"
                                    numeric numericType="number" (change)="onChangePaid(paidAmount)"
                                    [(ngModel)]="paidAmount" [ngModelOptions]="{standalone: true}">
                            </td>
                        </tr>

                    </tbody>
                </table> -->

                <button class="btn btn-success btn-sm btn-outline-success float-right" (click)="onFormSubmit()">
                    <i class="icofont-save"></i> {{btnSaveText}}
                </button>
            </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</block-ui>
