<block-ui>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-border-primary">
        <div class="card-header">
          <h5>Package List </h5>
          <button class="btn btn-primary btn-sm float-right" (click)="openModal(template)"><i
              class=" icofont icofont-plus "></i> Create Package</button>
        </div>
        <div class="card-block ">
          <div class="row ">
            <div class="col-lg-12 ">
              <ngx-datatable #table class="material table-bordered" [scrollbarH]="true" [rows]="rows"
                [loadingIndicator]="loadingIndicator" [externalPaging]="true" [columnMode]="ColumnMode.force"
                [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [count]="page.totalElements"
                [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">

                <ngx-datatable-column [width]="10" name="Sl" prop="id" [draggable]="false" [sortable]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <span> {{ row.id }} </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="400" name="Package Name" prop="pckg_name" [draggable]="false"
                  [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}"> {{ value }} </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="180" name="Offer Type" prop="pckg_offer_name" [draggable]="false"
                  [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}"> {{ value }} </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="60" name="Plan" prop="plan" [draggable]="false" [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span title="{{ value }}"> {{ value }} </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="100" name="Comes with Device" prop="has_device_dependency"
                  [draggable]="false" [sortable]="false">
                  <ng-template let-value="value" ngx-datatable-cell-template>
                    <span *ngIf="value"> Yes </span>
                    <span *ngIf="!value"> No </span>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column [width]="50" name="Action" [draggable]="false" [sortable]="false">
                  <ng-template let-row="row" ngx-datatable-cell-template>
                    <button (click)="openModalPackageDetails(templatePackageDetails,row)"
                      class="btn btn-info btn-mini">Details</button>
                  </ng-template>
                </ngx-datatable-column>


              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ng-template #templatePackageDetails>
    <div class="modal-header ">
      <h4 class="modal-title pull-left"> Package Details</h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHidePackageDetails()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body ">
      <app-card>
        <div class="table-responsive">
          <table class="table table-sm" *ngIf="packageObj">
            <tbody>
              <tr>
                <th scope="row">Package Name</th>
                <td>{{packageObj.pckg_name}}</td>
              </tr>
              <tr>
                <th scope="row">Offer Type</th>
                <td>{{packageObj.pckg_offer_name}}</td>
              </tr>
              <tr>
                <th scope="row">Plan</th>
                <td>{{packageObj.plan}}</td>
              </tr>
              <tr>
                <th scope="row">Duration</th>
                <td>
                  <span> {{packageObj.pckg_duration_name}}</span>
                </td>
              </tr>
              <tr>
                <th scope="row">Use Phone Sim Only</th>
                <td>
                  <span *ngIf="packageObj.has_phone_sim_dependency">Yes</span>
                  <span *ngIf="!packageObj.has_phone_sim_dependency">No</span>
                </td>
              </tr>
              <tr>
                <th scope="row">Comes with Device</th>
                <td>
                  <span *ngIf="packageObj.has_device_dependency">Yes</span>
                  <span *ngIf="!packageObj.has_device_dependency">No</span>
                </td>
              </tr>
              <tr *ngIf="packageObj.has_device_dependency">
                <th scope="row">Device Charge / Deposit</th>
                <td>{{packageObj.device_deposit}}</td>
              </tr>
              <tr>
                <th scope="row">Initial Fee</th>
                <td>{{packageObj.pckg_initial_fee}}</td>
              </tr>
              <tr>
                <th scope="row">Shipping Charge</th>
                <td>{{packageObj.pckg_shipping_charge}}</td>
              </tr>
              <tr>
                <th scope="row">Price</th>
                <td>{{packageObj.pckg_price}}</td>
              </tr>
              <tr>
                <th scope="row">Inital Discount</th>
                <td>{{packageObj.pckg_initial_discount}}</td>
              </tr>
              <tr>
                <th scope="row">1st Bill Amount</th>
                <td>{{packageObj.pckg_first_bill_amount}}</td>
              </tr>
              <tr>
                <th scope="row">Recurring Bill Amount </th>
                <td>{{packageObj.pckg_recurring_bill_amount}}</td>
              </tr>
              <tr>
                <th scope="row">Cancellation Fee </th>
                <td>{{packageObj.pckg_cancellation_fee}}</td>
              </tr>
              <tr *ngIf="packageObj.has_device_dependency">
                <th scope="row">Refundable Deposit </th>
                <td>{{packageObj.pckg_refundable_deposit}}</td>
              </tr>
              <!-- <tr *ngIf="packageObj.has_device_dependency">
                <th scope="row">Duration </th>
                <td>{{packageObj.pckg_duration_name}}</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </app-card>
    </div>
    <div class="modal-footer">
      <div class="pr-4">

        <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHidePackageDetails()"> <i
            class="icofont icofont-close"></i> Close</button>
      </div>

    </div>
  </ng-template>


  <ng-template #template>
    <div class="modal-header ">
      <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body pb-0">
      <app-card>
        <form [formGroup]="entryForm">


            <div class="form-group row">
              <label class="col-sm-3 col-form-label"> Package Name </label>
              <div class="col-sm-9">
                <input type="text" formControlName="pckg_name" type="text" class="form-control" />

                <div *ngIf="submitted && f.pckg_name.errors" class="error-text">
                  <small *ngIf="f.pckg_name.errors.required"
                    class="text-danger"> Package Name is required</small>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-3 col-form-label"> Offer Type </label>
              <div class="col-sm-9">
                <ng-select [clearable]="false" [clearOnBackspace]="false" (change)="onOfferTypeChange($event)"
                  [ngClass]="{ 'is-invalid': submitted && f.pckg_offer.errors}" formControlName="pckg_offer"
                  [items]="offerList" bindLabel="pckg_offer_name" bindValue="id" placeholder="Select a offer type">
                </ng-select>

                <div *ngIf="submitted && f.pckg_offer.errors" class="error-text">
                  <small *ngIf="f.pckg_offer.errors.required"
                    class="text-danger"> Offer type is required</small>
                </div>

              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label"> Plan </label>
              <div class="col-sm-9">
                <ng-select [clearable]="false"  [clearOnBackspace]="false"
                  [ngClass]="{ 'is-invalid': submitted && f.pckg_plan.errors}" formControlName="pckg_plan"
                  [items]="planList" bindLabel="plan" bindValue="id" placeholder="Select a plan"></ng-select>

                  <div *ngIf="submitted && f.pckg_plan.errors" class="error-text">
                    <small *ngIf="f.pckg_plan.errors.required"
                      class="text-danger"> Plan is required</small>
                  </div>

              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-3 col-form-label"> Duration </label>
              <div class="col-sm-9">
                <ng-select [clearable]="false"  [clearOnBackspace]="false"
                  [ngClass]="{ 'is-invalid': submitted && f.pckg_plan.errors}" formControlName="pckg_duration"
                  [items]="tempDurationList" bindLabel="pckg_duration_name" bindValue="id" placeholder="Select a package duration"></ng-select>

                  <div *ngIf="submitted && f.pckg_duration.errors" class="error-text">
                    <small *ngIf="f.pckg_duration.errors.required"
                      class="text-danger"> Duration is required</small>
                  </div>

              </div>
            </div>

            <hr>

            <div class="row">

            <div class="col-md-6">

              <div class="form-group row">
                <label class="col-sm-7 col-form-label"> Use Phone Sim Only </label>
                <div class="col-sm-5 mt-2">
                  <div class="checkbox-fade fade-in-default" >
                    <label>
                        <input type="checkbox" (change)="onPhoneSIMChange($event.target.checked)" formControlName="is_phone_sim">
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                    </label>

                  </div>
                </div>
              </div>

              <div class="form-group row" *ngIf="!isPhoneSimEnable">
                <label class="col-sm-7 col-form-label"> Comes with Device  </label>
                <div class="col-sm-5 mt-2">
                  <div class="checkbox-fade fade-in-default" >
                    <label>
                        <input type="checkbox" (change)="onDeviceChange($event.target.checked)" formControlName="has_device_dependency">
                        <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                    </label>

                  </div>
                </div>
              </div>

              <div class="form-group row" *ngIf="isDeviceEnable">
                <label class="col-sm-7 col-form-label"> Device Charge / Deposit </label>
                <div class="col-sm-5">
                  <input type="text" numeric numericType="number" formControlName="device_deposit" type="text" class="form-control" />

                  <div *ngIf="submitted && f.device_deposit.errors" class="error-text">
                    <small *ngIf="f.device_deposit.errors.required"
                      class="text-danger"> Device deposit is required</small>
                  </div>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-7 col-form-label"> Initial Fee </label>
                <div class="col-sm-5">
                  <input type="text" numeric numericType="number" formControlName="pckg_initial_fee" type="text" class="form-control" />

                  <div *ngIf="submitted && f.pckg_initial_fee.errors" class="error-text">
                    <small *ngIf="f.pckg_initial_fee.errors.required"
                      class="text-danger"> Initial fee is required</small>
                  </div>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-7 col-form-label"> Shipping Charge </label>
                <div class="col-sm-5">
                  <input type="text" numeric numericType="number" formControlName="pckg_shipping_charge" type="text" class="form-control" />
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-7 col-form-label"> Price </label>
                <div class="col-sm-5">
                  <input type="text" numeric numericType="number" formControlName="pckg_price" type="text" class="form-control" />

                  <div *ngIf="submitted && f.pckg_price.errors" class="error-text">
                    <small *ngIf="f.pckg_price.errors.required"
                      class="text-danger"> Price is required</small>
                  </div>

                </div>
              </div>


            </div>
            <div class="col-md-6">

              <div class="form-group row">
                <label class="col-sm-7 col-form-label"> Inital Discount </label>
                <div class="col-sm-5">
                  <input type="text" numeric numericType="number" formControlName="pckg_initial_discount" type="text" class="form-control" />

                  <div *ngIf="submitted && f.pckg_initial_discount.errors" class="error-text">
                    <small *ngIf="f.pckg_initial_discount.errors.required"
                      class="text-danger"> Inital discount is required</small>
                  </div>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-7 col-form-label"> 1st Bill Amount  {{cal()}}</label>
                <div class="col-sm-5">
                  <input type="text" numeric numericType="number" formControlName="pckg_first_bill_amount" type="text" class="form-control" />


                  <div *ngIf="submitted && f.pckg_first_bill_amount.errors" class="error-text">
                    <small *ngIf="f.pckg_first_bill_amount.errors.required"
                      class="text-danger"> 1st bill amount is required</small>
                  </div>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-7 col-form-label"> Recurring Bill Amount </label>
                <div class="col-sm-5">
                  <input type="text" numeric numericType="number" formControlName="pckg_recurring_bill_amount" type="text" class="form-control" />


                  <div *ngIf="submitted && f.pckg_recurring_bill_amount.errors" class="error-text">
                    <small *ngIf="f.pckg_recurring_bill_amount.errors.required"
                      class="text-danger"> Recurring bill amount is required</small>
                  </div>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-7 col-form-label"> Cancellation Fee </label>
                <div class="col-sm-5">
                  <input type="text" numeric numericType="number" formControlName="pckg_cancellation_fee" type="text" class="form-control" />
                </div>
              </div>

              <div class="form-group row" *ngIf="isDeviceEnable">
                <label class="col-sm-7 col-form-label"> Refundable Deposit </label>
                <div class="col-sm-5">
                  <input type="text" numeric numericType="number" formControlName="pckg_refundable_deposit" type="text" class="form-control" />

                  <div *ngIf="submitted && f.pckg_refundable_deposit.errors" class="error-text">
                    <small *ngIf="f.pckg_refundable_deposit.errors.required"
                      class="text-danger"> Refundable deposit is required</small>
                  </div>

                </div>
              </div>

            </div>
          </div>





        </form>
      </app-card>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <!-- <button class="btn btn-outline-secondary btn-sm mr-2" (click)="modalHide()"> <i
                      class="icofont icofont-close"></i> Close</button>

              <button class="btn btn-secondary btn-sm" (click)="onFormSubmit()"><i
                      class="icofont icofont-check-circled"></i> {{btnSaveText}}</button> -->

        <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHide()"> <i
            class="icofont icofont-close"></i> Close</button>

        <button class="btn btn-success btn-outline-success btn-sm" (click)="onFormSubmit()"><i
            class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
      </div>

    </div>
  </ng-template>

</block-ui>
