<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <!-- <h5>Payment List </h5> -->
                        </div>
                        <div class="card-block ">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Member </label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" placeholder="Search member" (keyup)="updateFilter($event)" />
                                  <!-- <div *ngIf="submitted && f.customer.errors" class="error-text">
                                    <span *ngIf="f.customer.errors.required" class="text-danger"> Customer is required</span>

                                </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                            <div class="row">
                                <div class="col-lg-12 ">
                                  <ngx-datatable #thanaTable class="material table-bordered" [rows]="memberList" [scrollbarH]="true"
                                  [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                                  [headerHeight]="40" [limit]="10" [footerHeight]="50" rowHeight="auto">


                                  <ngx-datatable-column [width]="100" name="First Name" prop="first_name" [draggable]="false" [sortable]="false">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span > {{ value }} </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                  <ngx-datatable-column [width]="100" name="Last Name" prop="lirst_name" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column [width]="100" name="Mobile" prop="mobile" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column [width]="100" name="Email" prop="email" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>


                                  <ngx-datatable-column [width]="80" name="Created Date" prop="created_at" [draggable]="false"
                                      [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                              </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</block-ui>
