<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <h5>SIM List </h5>
                            <button class="btn btn-info btn-sm float-right" (click)="openModalSIM(template)"><i
                              class=" icofont icofont-plus "></i> Update SIM Details</button>
                        </div>
                        <div class="card-block ">
                            <div class="row ">
                                <div class="col-lg-12 ">
                                  <ngx-datatable class="material table-bordered" [rows]="rows"
                                  [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                                  [headerHeight]="40" [limit]="10" [footerHeight]="50" rowHeight="auto">

                                  <ngx-datatable-column [width]="10" name="SL" prop="id" [draggable]="false" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span > {{ row.id }} </span>
                                    </ng-template>
                                </ngx-datatable-column>

                                  <ngx-datatable-column [width]="100" name="SIM SL" prop="sim_auto_serial_no" [draggable]="false" [sortable]="false">
                                      <ng-template let-row="row" ngx-datatable-cell-template>
                                          <span > {{ row.sim_auto_serial_no }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="30" name="ICCID" prop="ICCID_no" [draggable]="false"
                                      [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span title="{{ value }}"> {{ value ? value : "_ _ _"}} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="80" name="Created Date" prop="created_at" [draggable]="false"
                                      [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                              </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

  <ng-template #template>
      <div class="modal-header ">
          <h4 class="modal-title pull-left " [innerHtml]="modalTitleSIM" id="modalTitleSIM"></h4>
          <button type="button " class="close pull-right " aria-label="Close " (click)="modalHideSIM()">
              <i class="icofont icofont-close"></i>
          </button>
      </div>
      <div class="modal-body pb-0">
          <app-card>
            <div class="row">

              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-12">
                  <div class="table-responsive">
                      <table class="table table-xs table-hover table-bordered table-striped">
                          <thead>
                              <tr>
                                  <th scope="col">SIM Serial</th>
                                  <th scope="col">ICCID No</th>
                              </tr>
                          </thead>

                          <tbody>
                              <tr *ngFor="let item of SIMItemList; let i=index">
                                  <th>{{item.id}}</th>
                                  <th><input type="text"class="form-control" [(ngModel)]="item.iccid"  required /></th>


                              </tr>
                          </tbody>
                      </table>
                      </div>
                  </div>

              </div>
              </div>
          </div>

          </app-card>
      </div>
      <div class="modal-footer">
          <div class="pr-4">
              <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHideSIM()"> <i
                      class="icofont icofont-close"></i> Close</button>

              <button class="btn btn-info btn-sm" (click)="onFormSubmitSIM()"><i
                      class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
          </div>

      </div>
  </ng-template>

</block-ui>
