<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <h5>SIM List </h5>

                        </div>
                        <div class="card-block ">
                          <div class="row mb-3">
                            <div class="col-lg-7">

                              <div class="row">
                                <label class="col-sm-4 col-form-label">Supplier </label>
                                <div class="col-sm-8">


                                <div class="d-flex flex-row">


                                  <ng-select [clearable]="true"
                                          [items]="suppliersBuffer"
                                          [virtualScroll]="true"
                                          [dropdownPosition]="'bottom'"
                                          [loading]="loading"
                                          bindLabel="first_name"
                                          bindValue="id"
                                          placeholder="Select a supplier"
                                          appendTo="body"
                                          (change)="onSupplierChange($event)"
                                          [typeahead]="input$"
                                          (scroll)="onScroll($event)"
                                          (scrollToEnd)="onScrollToEnd()" #select>
                                    <ng-template ng-header-tmp>
                                        <small class="form-text text-muted">Loaded {{suppliersBuffer.length}} of {{pageSupplier.totalElements}}</small>
                                    </ng-template>
                                    <ng-template ng-label-tmp let-item="item">
                                       {{item.name}} - {{item.mobile}}
                                  </ng-template>

                                    <ng-template ng-option-tmp let-item="item"  let-index="index">
                                      {{item.name}} - {{item.mobile}}
                                    </ng-template>
                                </ng-select>

                              </div>



                              <!-- <div class="row blog-big-user m-t-10" *ngIf="selectedSupplier">
                                <div class="col-sm-10">
                                    <div>
                                        <h4 class="m-b-10 text-primary">{{selectedSupplier.first_name}} {{selectedSupplier.last_name}}</h4>
                                        <h6 class="m-b-5"><i class="icofont icofont-envelope-open"></i> {{selectedSupplier.email}}</h6>
                                        <p class="m-b-5"><i class="icofont icofont-phone"></i> {{selectedSupplier.mobile}}</p>
                                    </div>
                                </div>
                            </div> -->

                                </div>
                              </div>


                            </div>

                            <div class="col-lg-5">
                              <button *ngIf="rows.length > 0" class="btn btn-primary btn-sm float-right" (click)="openModalSIM(template)"><i
                                class=" icofont icofont-plus "></i> Update SIM Details</button>
                            </div>

                          </div>
                            <div class="row ">
                                <div class="col-lg-12 ">
                                  <ngx-datatable class="material table-bordered" [rows]="rows"
                                  [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                                  [headerHeight]="40" [limit]="10" [footerHeight]="50" rowHeight="auto">

                                  <ngx-datatable-column [width]="80" name="SIM CID No" prop="CID_no" [draggable]="false" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span > {{ row.id }} </span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <!-- <ngx-datatable-column [width]="200" name="SIM Alias" prop="sim_auto_serial_no" [draggable]="false" [sortable]="false">
                                    <ng-template let-row="row" ngx-datatable-cell-template>
                                        <span > {{ row.sim_auto_serial_no }} </span>
                                    </ng-template>
                                </ngx-datatable-column> -->

                                <ngx-datatable-column [width]="100" name="ICCID No" prop="ICCID_no" [draggable]="false"
                                    [sortable]="false">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span title="{{ value }}"> {{ value ? value : "_ _ _"}} </span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="100" name="Phone Number" prop="phone_number" [draggable]="false"
                                    [sortable]="false">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span title="{{ value }}"> {{ value ? value : "_ _ _"}} </span>
                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="80" name="Status" prop="status" [draggable]="false"
                                    [sortable]="false">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                      <span *ngIf="value === 1" > <strong class="label label-success">{{ StockStatus[value] }}</strong> </span>
                                      <span *ngIf="value === 2" > <strong class="label label-info">{{ StockStatus[value] }}</strong> </span>
                                      <span *ngIf="value === 3" > <strong class="label label-secondary">{{ StockStatus[value] }}</strong> </span>
                                      <span *ngIf="value === 4" > <strong class="label label-warning">{{ StockStatus[value] }}</strong> </span>
                                      <span *ngIf="value === 5" > <strong class="label label-danger">{{ StockStatus[value] }}</strong> </span>
                                      <span *ngIf="value === 6" > <strong class="label label-primary">{{ StockStatus[value] }}</strong> </span>
                                      <span *ngIf="value === 7" > <strong class="label label-warning">{{ StockStatus[value] }}</strong> </span>
                                      <span *ngIf="value === 8" > <strong class="label label-danger">{{ StockStatus[value] }}</strong> </span>

                                    </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column  [sortable]="true" [width]="80" name="Purchase Date" prop="created_at" [draggable]="false"
                                    [sortable]="false">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                    </ng-template>
                                </ngx-datatable-column>

                              </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

  <ng-template #template>
      <div class="modal-header ">
          <h4 class="modal-title pull-left " [innerHtml]="modalTitleSIM" id="modalTitleSIM"></h4>
          <button type="button " class="close pull-right " aria-label="Close " (click)="modalHideSIM()">
              <i class="icofont icofont-close"></i>
          </button>
      </div>
      <div class="modal-body pb-0">
          <app-card>
            <div class="row">

              <div class="col-md-12">

                <div class="row blog-big-user m-t-10 mb-4" *ngIf="selectedSupplier">
                  <div class="col-sm-12">
                      <div>
                          <h4 class="m-b-10 text-primary">{{selectedSupplier.name}} <span *ngIf="selectedSupplier.email"> || <i class="icofont icofont-envelope-open"></i> {{selectedSupplier.email}}</span> <span class="text-normal" style="font-size: 14px;"> || <i class="icofont icofont-phone"></i> {{selectedSupplier.mobile}}</span></h4>

                      </div>
                  </div>
              </div>

                <div class="row">
                  <div class="col-md-12">

                    <ngx-datatable  class="material table-bordered" [rows]="SIMItemList"
                        [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                        [headerHeight]="30" [footerHeight]="50" [limit]="10" rowHeight="auto" >

                        <ngx-datatable-column [width]="80" name="SL" prop="id" [draggable]="false" [sortable]="false">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span title="{{ value }}"> {{ value }} </span>
                            </ng-template>
                        </ngx-datatable-column>

                        <!-- <ngx-datatable-column [width]="80" name="SIM CID No" prop="CID_no" [draggable]="false" [sortable]="false">
                            <ng-template let-value="value" ngx-datatable-cell-template>
                                <span title="{{ value }}"> {{ value }} </span>
                            </ng-template>
                        </ngx-datatable-column>     -->

                        <ngx-datatable-column [width]="100" name="SIM CID No" prop="CID_no" [draggable]="false"
                            [sortable]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <input type="text"class="form-control mt-2" [(ngModel)]="row.CID_no"  required />
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [width]="120" name="ICCID No" prop="ICCID_no" [draggable]="false"
                            [sortable]="false">
                            <ng-template let-row="row" ngx-datatable-cell-template>
                                <input type="text"class="form-control mt-2" [(ngModel)]="row.ICCID_no   "  required />
                            </ng-template>
                        </ngx-datatable-column>

                        <ngx-datatable-column [width]="120" name="Phone No" prop="phone_number" [draggable]="false"
                        [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <input type="text"class="form-control mt-2" [(ngModel)]="row.phone_number"  required />
                        </ng-template>
                    </ngx-datatable-column>
                    </ngx-datatable>


                  <!-- <div class="table-responsive">
                      <table class="table table-xs table-hover table-bordered table-striped">
                          <thead>
                              <tr>
                                  <th scope="col">SIM CID No</th>
                                  <th scope="col">ICCID No</th>
                                  <th scope="col">PhoneNo</th>
                              </tr>
                          </thead>

                          <tbody>
                              <tr *ngFor="let item of SIMItemList; let i=index">
                                  <th>{{item.CID_no}}</th>
                                  <th><input type="text"class="form-control" [(ngModel)]="item.ICCID_no   "  required /></th>
                                  <th><input type="text"class="form-control" [(ngModel)]="item.phone_number"  required /></th>


                              </tr>
                          </tbody>
                      </table>
                      </div> -->

                  </div>

              </div>
              </div>
          </div>

          </app-card>
      </div>
      <div class="modal-footer">
          <div class="pr-4">
              <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHideSIM()"> <i
                      class="icofont icofont-close"></i> Close</button>

              <button class="btn btn-success btn-sm btn-outline-success" (click)="onFormSubmitSIM()"><i
                      class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
          </div>

      </div>
  </ng-template>

</block-ui>
