<block-ui>
    <div class="row">
        <div class="col-md-4">
            <div class="row">

                <div class="col-md-12 mb-3">
                    <div class="card card-hover dark-primary-border counter-card-2" [routerLink]="['/create-subscription']" routerLinkActive="router-link-active">
                        <div class="card-block-big">
                            <div>
                                <h6>Create Subscription</h6>

                            </div>
                            <i class="icofont icofont-alarm text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="card card-hover dark-primary-border counter-card-2" [routerLink]="['/add-product-to-subscription']" routerLinkActive="router-link-active">
                        <div class="card-block-big">
                            <div>
                                <h6>Add Product To Subscription</h6>

                            </div>
                            <i class="icofont icofont-plus-square text-primary"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                  <div class="card card-hover dark-primary-border counter-card-2" (click)="openModal(templateGenerateBill)" >
                      <div class="card-block-big">
                          <div>
                              <h6>Generate Monthly Bill</h6>
                          </div>
                          <i class="icofont icofont-settings-alt text-primary"></i>
                      </div>
                  </div>
              </div>
                <div class="col-md-12 mb-3">
                  <div class="card card-hover primary-border counter-card-2" [routerLink]="['/sell-sim']" routerLinkActive="router-link-active">
                      <div class="card-block-big">
                          <div>
                              <h6>Sell SIM</h6>
                          </div>
                          <i class="icofont icofont-memory-card"></i>
                      </div>
                  </div>
              </div>
              <div class="col-md-12 mb-3">
                  <div class="card card-hover primary-border counter-card-2" [routerLink]="['/sell-device']" routerLinkActive="router-link-active">
                      <div class="card-block-big">
                          <div>
                              <h6>Sell Device</h6>

                          </div>
                          <i class="icofont icofont-server"></i>
                      </div>
                  </div>
              </div>



            </div>
        </div>
        <div class="col-md-4">
            <div class="row">

                <!-- <div class="col-md-12 mb-3">
                    <div class="card card-hover warning-border counter-card-3" [routerLink]="['/change-current-month-subscription']" routerLinkActive="router-link-active">
                        <div class="card-block-big">
                            <div>
                                <h6>Change Current Month Data Plan</h6>
                            </div>
                            <i class="icofont icofont-exchange text-warning"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="card card-hover warning-border counter-card-2" [routerLink]="['/remove-product-from-current-month']" routerLinkActive="router-link-active">
                        <div class="card-block-big">
                            <div>
                                <h6>Remove Product From Current Month</h6>

                            </div>
                            <i class="icofont icofont-ui-remove text-warning"></i>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12 mb-3">
                    <div class="card card-hover warning-border counter-card-2" [routerLink]="['/cancel-entrie-subscription-from-current-month']" routerLinkActive="router-link-active">
                        <div class="card-block-big">
                            <div>
                                <h6>Cancel Entire Subs. From Current Month</h6>

                            </div>
                            <i class="icofont icofont-close-squared-alt text-warning"></i>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
<!-- 
                <div class="col-md-12 mb-3">
                    <div class="card card-hover danger-border counter-card-2" [routerLink]="['/change-next-month-subscription']" routerLinkActive="router-link-active">
                        <div class="card-block-big">
                            <div>
                                <h6>Change Next Month Data Plan</h6>
                            </div>
                            <i class="icofont icofont-exchange text-danger"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mb-3">
                    <div class="card card-hover danger-border counter-card-2" [routerLink]="['/remove-product-from-next-month']" routerLinkActive="router-link-active">
                        <div class="card-block-big">
                            <div>
                                <h6>Remove Product From Next Month</h6>

                            </div>
                            <i class="icofont icofont-ui-remove text-danger"></i>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12 mb-3">
                    <div class="card card-hover danger-border counter-card-2" [routerLink]="['/cancel-entrie-subscription-from-next-month']" routerLinkActive="router-link-active">
                        <div class="card-block-big">
                            <div>
                                <h6>Cancel Entire Subs.From Next Month</h6>

                            </div>
                            <i class="icofont icofont-close-squared-alt text-danger"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <div class="card card-hover danger-border counter-card-2" [routerLink]="['/hold-entrie-subscription-from-next-month']" routerLinkActive="router-link-active">
                        <div class="card-block-big">
                            <div>
                                <h6>Hold Entire Subs. From Next Month</h6>

                            </div>
                            <i class="icofont icofont-hand text-danger"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 mb-3">
                    <div class="card card-hover danger-border counter-card-2" [routerLink]="['/reactivate-held-subscription']" routerLinkActive="router-link-active">
                        <div class="card-block-big">
                            <div>
                                <h6>Reactivate The Held Subscriptions</h6>

                            </div>
                            <i class="icofont icofont-reply-all text-danger"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <ng-template #templateGenerateBill>
        <div class="modal-header ">
            <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
            <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
                <i class="icofont icofont-close"></i>
            </button>
        </div>
        <div class="modal-body pb-0">
            <app-card>
                <form [formGroup]="entryFormBill">

                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Invoice Month </label>
                      <div class="col-sm-8">
                        <input type="text" formControlName="invoice_month" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.invoice_month.errors }" placeholder="Type invoice month">
                        <div *ngIf="submitted && f.invoice_month.errors" class="error-text">
                          <span *ngIf="f.invoice_month.errors.required" class="text-danger"> Invoice month is required</span>

                      </div>
                      </div>
                    </div>

                  </form>

            </app-card>
        </div>
        <div class="modal-footer">
            <div class="pr-4">
                <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHide()"> <i
                        class="icofont icofont-close"></i> Close</button>

                <button class="btn btn-success btn-sm btn-outline-success" (click)="onFormSubmitBill()"><i
                        class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
            </div>

        </div>
    </ng-template>

</block-ui>
