<block-ui>
  <div class="row">

      <div class="col-lg-12">
          <div class="row">
              <div class="col-lg-12">
                  <div class="card card-border-default">
                      <div class="card-header">
                          <h5 *ngIf="activeTable == 0"> All Customer List </h5>
                          <h5 *ngIf="activeTable == 1"> Wholesaler List </h5>
                          <h5 *ngIf="activeTable == 2"> Retailer List </h5>
                          <h5 *ngIf="activeTable == 3"> Customers with Due List </h5>

                          <button class="btn btn-primary btn-sm mr-2"
                              (click)="showCustomerTable(0)">
                              All </button>
                          <button class="btn btn-primary btn-sm mr-2" (click)="showCustomerTable(1)">
                              Wholesaler</button>
                          <button class="btn btn-primary btn-sm mr-2" (click)="showCustomerTable(2)">
                              Retailer</button>
                          <button class="btn btn-primary btn-sm mr-2" [ngClass]="{'b-active': isbuttonActive}" (click)="showCustomerTable(3)">
                              Customers with Due</button>




                          <button class="btn btn-primary btn-sm float-right "
                              (click)="openModal(template,'Retailer')"><i class=" icofont icofont-plus "></i> Add
                              Retailer</button>
                          <button class="btn btn-primary btn-sm float-right mr-2"
                              (click)="openModal(template,'Wholesaler')"><i class=" icofont icofont-plus "></i> Add
                              Wholesaler</button>

                          <!-- <span class="code-header ">use class <code>table</code> inside table element</span> -->
                      </div>
                      <div class="card-block ">

                          <div *ngIf="activeTable == 0">
                              <div class="row">
                                  <div class="col-lg-7">
                                      <div class="form-group row">
                                          <div class="col-sm-12">
                                              <input type="text" class="form-control"
                                                  placeholder="Search wholesaler/retailer by code, name, mobile, email"
                                                  (keyup)="updateFilter($event)" />

                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row ">
                                  <div class="col-lg-12 ">
                                      <ngx-datatable #table class="material table-bordered"   [scrollbarH]="true" [rows]="customerList" [loadingIndicator]="loadingIndicator"
                                      [externalPaging]="true" [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50"
                                      rowHeight="auto" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                      (page)="setPageAll($event)">
                                          <!-- <ngx-datatable  #table class="material table-bordered" [rows]="bilList" [loadingIndicator]="loadingIndicator"
                                        [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                                        [rowHeight]="'auto'" [limit]="10"> -->

                                          <ngx-datatable-column [width]="150" name="Customer Code"
                                              prop="customer_code" [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="220" name="Wholesaler/Retailer Name"
                                              prop="name" [draggable]="false" [sortable]="false">
                                              <ng-template let-row="row" ngx-datatable-cell-template>
                                                  <span> {{ row.first_name }} {{row.last_name}} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="150" name="Mobile Number" prop="mobile"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="170" name="Total Subscribed SIM" prop="total_subscribed_sims"
                                          [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span title="{{ value }}"> {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                                          <ngx-datatable-column [width]="100" name="Total Due" prop="total_due"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <!-- <ngx-datatable-column [width]="180" name="Total Subscribed SIMs" prop="total_subscribed_sims"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column> -->
                                          <ngx-datatable-column [width]="200" name="Email" prop="email"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <!-- <ngx-datatable-column name="Is Active?" prop="IsActive" [draggable]="false"
                                              [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{value === true? 'Yes':'No'}}">
                                                      {{value === true? 'Yes':'No'}} </span>
                                              </ng-template>
                                          </ngx-datatable-column> -->

                                          <ngx-datatable-column [width]="200" name="Action" prop="Id"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-row="row" ngx-datatable-cell-template>
                                                  <button [routerLink]="['/customer-details',row.id]" class="btn btn-primary btn-mini mr-1"><i class="icofont icofont-eye"></i>Show Profile</button>

                                                  <!-- <button (click)="getItem(row,template)"
                                                      class="btn btn-primary btn-mini mr-1"><i
                                                          class="icofont icofont-edit"></i>Edit Profile</button> -->
                                                  <!-- <button (click)="changePassword(row,templateChangePassword)"
                                                      class="btn btn-info btn-mini mr-1"><i
                                                          class="icofont icofont-retweet"></i>Change Password</button> -->
                                                  <!-- <button *ngIf="row.has_subscription_history"
                                                      (click)="showHistory(row)"
                                                      class="btn btn-primary btn-mini"><i
                                                          class="icofont icofont-listing-box"></i>subscription
                                                      History</button> -->

                                              </ng-template>
                                          </ngx-datatable-column>
                                      </ngx-datatable>
                                  </div>
                              </div>
                          </div>
                          <div *ngIf="activeTable == 1">
                              <div class="row">
                                  <div class="col-lg-7">
                                      <div class="form-group row">
                                          <div class="col-sm-12">
                                              <input type="text" class="form-control"
                                                  placeholder="Search wholesaler by code, name, mobile, email"
                                                  (keyup)="updateFilterWholesaler($event)" />

                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row ">
                                  <div class="col-lg-12 ">
                                      <ngx-datatable #tableWholesaler class="material table-bordered"   [scrollbarH]="true" [rows]="wholesalerList" [loadingIndicator]="loadingIndicator"
                                          [externalPaging]="true" [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50"
                                          rowHeight="auto" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                          (page)="setPageWholesaler($event)">
                                          <ngx-datatable-column [width]="150" name="Customer Code"
                                              prop="customer_code" [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="220" name="Wholesaler Name" prop="name"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-row="row" ngx-datatable-cell-template>
                                                  <span> {{ row.first_name }} {{row.last_name}} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="150" name="Mobile Number" prop="mobile"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="170" name="Total Subscribed SIM" prop="total_subscribed_sims"
                                          [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span title="{{ value }}"> {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                                          <ngx-datatable-column [width]="100" name="Total Due" prop="total_due"
                                          [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span title="{{ value }}"> {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                                      <!-- <ngx-datatable-column [width]="180" name="Total Subscribed SIMs" prop="total_subscribed_sims"
                                          [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span title="{{ value }}"> {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column> -->
                                          <ngx-datatable-column [width]="200" name="Email" prop="email"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>

                                          <!-- <ngx-datatable-column name="Is Active?" prop="IsActive" [draggable]="false"
                                              [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{value === true? 'Yes':'No'}}">
                                                      {{value === true? 'Yes':'No'}} </span>
                                              </ng-template>
                                          </ngx-datatable-column> -->

                                          <ngx-datatable-column [width]="200" name="Action" prop="Id"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-row="row" ngx-datatable-cell-template>
                                                  <button [routerLink]="['/customer-details',row.id]" class="btn btn-primary btn-mini mr-1"><i class="icofont icofont-eye"></i>Show Profile</button>

                                                  <!-- <button (click)="getItem(row,template)"
                                                      class="btn btn-primary btn-mini mr-1"><i
                                                          class="icofont icofont-edit"></i>Edit Profile</button> -->
                                                  <!-- <button (click)="changePassword(row,templateChangePassword)"
                                                      class="btn btn-info btn-mini mr-1"><i
                                                          class="icofont icofont-retweet"></i>Change Password</button> -->
                                                  <!-- <button *ngIf="row.has_subscription_history"
                                                      (click)="showHistory(row)"
                                                      class="btn btn-primary btn-mini"><i
                                                          class="icofont icofont-listing-box"></i>Subscription
                                                      History</button> -->
                                              </ng-template>
                                          </ngx-datatable-column>
                                      </ngx-datatable>
                                  </div>
                              </div>
                          </div>
                          <div *ngIf="activeTable == 2">
                              <div class="row">
                                  <div class="col-lg-7">
                                      <div class="form-group row">
                                          <div class="col-sm-12">
                                              <input type="text" class="form-control"
                                                  placeholder="Search retailer by code, name, mobile, email"
                                                  (keyup)="updateFilterRetailer($event)" />

                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row ">
                                  <div class="col-lg-12 ">
                                      <ngx-datatable #tableRetailer class="material table-bordered" [scrollbarH]="true" [rows]="retailerList" [loadingIndicator]="loadingIndicator"
                                          [externalPaging]="true" [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50"
                                          rowHeight="auto" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                          (page)="setPageRetailer($event)">
                                          <ngx-datatable-column [width]="150" name="Customer Code"
                                              prop="customer_code" [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="180" name="Retailer Name" prop="name"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-row="row" ngx-datatable-cell-template>
                                                  <span> {{ row.first_name }} {{row.last_name}} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="150" name="Mobile Number" prop="mobile"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="170" name="Total Subscribed SIM" prop="total_subscribed_sims"
                                          [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span title="{{ value }}"> {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                                          <ngx-datatable-column [width]="100" name="Total Due" prop="total_due"
                                          [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span title="{{ value }}"> {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                                      <!-- <ngx-datatable-column [width]="180" name="Total Subscribed SIMs" prop="total_subscribed_sims"
                                          [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span title="{{ value }}"> {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column> -->
                                          <ngx-datatable-column [width]="200" name="Email" prop="email"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>

                                          <!-- <ngx-datatable-column name="Is Active?" prop="IsActive" [draggable]="false"
                                              [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{value === true? 'Yes':'No'}}">
                                                      {{value === true? 'Yes':'No'}} </span>
                                              </ng-template>
                                          </ngx-datatable-column> -->

                                          <ngx-datatable-column [width]="200" name="Action" prop="Id"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-row="row" ngx-datatable-cell-template>
                                                  <button [routerLink]="['/customer-details',row.id]" class="btn btn-primary btn-mini mr-1"><i class="icofont icofont-eye"></i>Show Profile</button>

                                                  <!-- <button (click)="getItem(row,template)"
                                                      class="btn btn-primary btn-mini mr-1"><i
                                                          class="icofont icofont-edit"></i>Edit Profile</button> -->
                                                  <!-- <button (click)="changePassword(row,templateChangePassword)"
                                                      class="btn btn-info btn-mini mr-1"><i
                                                          class="icofont icofont-retweet"></i>Change Password</button> -->
                                                  <!-- <button *ngIf="row.has_subscription_history"
                                                      (click)="showHistory(row)"
                                                      class="btn btn-primary btn-mini"><i
                                                          class="icofont icofont-listing-box"></i>subscription
                                                      History</button> -->

                                              </ng-template>
                                          </ngx-datatable-column>
                                      </ngx-datatable>
                                  </div>
                              </div>
                          </div>
                          <div *ngIf="activeTable == 3">
                              <div class="row">
                                  <div class="col-lg-7">
                                      <div class="form-group row">
                                          <div class="col-sm-12">
                                              <input type="text" class="form-control"
                                                  placeholder="Search wholesaler/retailer by code, name, mobile, email"
                                                  (keyup)="updateFilterDue($event)" />

                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="row ">
                                  <div class="col-lg-12 ">
                                      <ngx-datatable #table class="material table-bordered"   [scrollbarH]="true" [rows]="dueCustomerList" [loadingIndicator]="loadingIndicator"
                                      [externalPaging]="true" [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50"
                                      rowHeight="auto" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                      (page)="setPageDue($event)">
                                          <!-- <ngx-datatable  #table class="material table-bordered" [rows]="bilList" [loadingIndicator]="loadingIndicator"
                                        [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                                        [rowHeight]="'auto'" [limit]="10"> -->

                                          <ngx-datatable-column [width]="150" name="Customer Code"
                                              prop="customer_code" [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="220" name="Wholesaler/Retailer Name"
                                              prop="name" [draggable]="false" [sortable]="false">
                                              <ng-template let-row="row" ngx-datatable-cell-template>
                                                  <span> {{ row.first_name }} {{row.last_name}} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="150" name="Mobile Number" prop="mobile"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <ngx-datatable-column [width]="170" name="Total Subscribed SIM" prop="total_subscribed_sims"
                                          [draggable]="false" [sortable]="false">
                                          <ng-template let-value="value" ngx-datatable-cell-template>
                                              <span title="{{ value }}"> {{ value }} </span>
                                          </ng-template>
                                      </ngx-datatable-column>
                                          <ngx-datatable-column [width]="100" name="Total Due" prop="total_due"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <!-- <ngx-datatable-column [width]="180" name="Total Subscribed SIMs" prop="total_subscribed_sims"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column> -->
                                          <ngx-datatable-column [width]="200" name="Email" prop="email"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{ value }}"> {{ value }} </span>
                                              </ng-template>
                                          </ngx-datatable-column>
                                          <!-- <ngx-datatable-column name="Is Active?" prop="IsActive" [draggable]="false"
                                              [sortable]="false">
                                              <ng-template let-value="value" ngx-datatable-cell-template>
                                                  <span title="{{value === true? 'Yes':'No'}}">
                                                      {{value === true? 'Yes':'No'}} </span>
                                              </ng-template>
                                          </ngx-datatable-column> -->

                                          <ngx-datatable-column [width]="200" name="Action" prop="Id"
                                              [draggable]="false" [sortable]="false">
                                              <ng-template let-row="row" ngx-datatable-cell-template>
                                                  <button [routerLink]="['/customer-details',row.id]" class="btn btn-primary btn-mini mr-1"><i class="icofont icofont-eye"></i>Show Profile</button>

                                                  <!-- <button (click)="getItem(row,template)"
                                                      class="btn btn-primary btn-mini mr-1"><i
                                                          class="icofont icofont-edit"></i>Edit Profile</button> -->
                                                  <!-- <button (click)="changePassword(row,templateChangePassword)"
                                                      class="btn btn-info btn-mini mr-1"><i
                                                          class="icofont icofont-retweet"></i>Change Password</button> -->
                                                  <!-- <button *ngIf="row.has_subscription_history"
                                                      (click)="showHistory(row)"
                                                      class="btn btn-primary btn-mini"><i
                                                          class="icofont icofont-listing-box"></i>subscription
                                                      History</button> -->

                                              </ng-template>
                                          </ngx-datatable-column>
                                      </ngx-datatable>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>

  </div>




  <ng-template #template>
      <div class="modal-header ">
          <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
          <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
              <i class="icofont icofont-close"></i>
          </button>
      </div>
      <div class="modal-body ">
          <app-card>
              <form [formGroup]="RegistrerForm" class="col-sm-12">
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Customer Code </label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="customer_code" type="text"
                                      class="form-control" />

                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">First Name </label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="firstName"
                                      [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" type="text"
                                      class="form-control" />

                                  <div *ngIf="submitted && f.firstName.errors" class="error-text">
                                      <span *ngIf="f.firstName.errors.required" class="text-danger"> Member first name
                                          is required</span>

                                  </div>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Last Name </label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="lastName"
                                      [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" type="text"
                                      class="form-control" />

                                  <div *ngIf="submitted && f.lastName.errors" class="error-text">
                                      <span *ngIf="f.lastName.errors.required" class="text-danger"> Member last name
                                          is required</span>

                                  </div>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Email </label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="email"
                                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="text"
                                      class="form-control" />

                                  <div *ngIf="submitted && f.email.errors" class="error-text">
                                      <span *ngIf="f.email.errors.required" class="text-danger"> Email is
                                          required</span>

                                  </div>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Mobile </label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="mobile"
                                      [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" type="text"
                                      class="form-control" />

                                  <div *ngIf="submitted && f.mobile.errors" class="error-text">
                                      <span *ngIf="f.mobile.errors.required" class="text-danger"> Mobile number is
                                          required</span>

                                  </div>
                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Alternative Mobile </label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="alternative_mobile" type="text"
                                      class="form-control" />

                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Telephone </label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="telephone" type="text" class="form-control" />

                              </div>
                          </div>




                      </div>
                      <div class="col-sm-6">

                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Fax </label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="fax" type="text" class="form-control" />

                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">NID </label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="nid" type="text" class="form-control" />

                              </div>
                          </div>

                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Account Number </label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="acc_number" type="text" class="form-control" />

                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Address 1</label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="address_one" type="text" class="form-control" />

                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Address 2</label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="address_two" type="text" class="form-control" />

                              </div>
                          </div>
                          <div class="form-group row">
                              <label class="col-sm-4 col-form-label">Preferred Payment Method</label>
                              <div class="col-sm-8">
                                  <input type="text" formControlName="preferred_payment_method" type="text"
                                      class="form-control" />

                              </div>
                          </div>

                          <!-- <div *ngIf="!isEdit">
                              <div class="form-group row">
                                  <label class="col-sm-4 col-form-label"> Password </label>
                                  <div class="col-sm-8">
                                      <input type="password" formControlName="password" class="form-control"
                                          [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                          placeholder="Enter password" required>

                                      <div *ngIf="submitted && f.password.errors" class="error-text">
                                          <span *ngIf="f.password.errors.required" class="text-danger">Password is
                                              required</span>
                                      </div>
                                  </div>
                              </div>
                              <div class="form-group row">
                                  <label class="col-sm-4 col-form-label">Confirm Password </label>
                                  <div class="col-sm-8">
                                      <input type="password" formControlName="confirmPassword" class="form-control"
                                          [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
                                          placeholder="Confirm Password" required>

                                      <div *ngIf="submitted && f.confirmPassword.errors" class="error-text">
                                          <span *ngIf="f.confirmPassword.errors.required" class="text-danger">Confirm
                                              Password is required</span>
                                          <span *ngIf="f.confirmPassword.errors.mustMatch"
                                              class="text-danger">Passwords must match</span>
                                      </div>
                                  </div>
                              </div>
                          </div> -->

                      </div>
                  </div>
              </form>


          </app-card>
      </div>
      <div class="modal-footer">
          <div class="pr-4">

              <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHide()"> <i
                      class="icofont icofont-close"></i> Close</button>

              <button class="btn btn-success btn-sm btn-outline-success" (click)="onFormSubmit()"><i
                      class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>

          </div>

      </div>
  </ng-template>

  <ng-template #templateChangePassword>
      <div class="modal-header ">
          <h4 class="modal-title pull-left "> Change Password</h4>
          <button type="button " class="close pull-right " aria-label="Close " (click)="modalHideChangePassword()">
              <i class="icofont icofont-close"></i>
          </button>
      </div>
      <div class="modal-body ">
          <app-card>
              <form [formGroup]="RegistrerFormChangePassword" class="col-sm-12">

                  <div class="form-group row" *ngIf="user">
                      <label class="col-sm-4 col-form-label">Name </label>
                      <div class="col-sm-8">
                          <label class="font-weight-bold col-form-label"><h5>{{user.first_name}} {{user.last_name}}</h5></label>
                      </div>
                  </div>
                  <!-- <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Old Password </label>
                      <div class="col-sm-8">
                          <input type="password" formControlName="old_password" class="form-control" [ngClass]="{ 'is-invalid': submitted && p.old_password.errors }" placeholder="Enter old password" required>

                          <div *ngIf="submitted && p.old_password.errors" class="error-text">
                              <span *ngIf="p.old_password.errors.required" class="text-danger">Old password is required</span>
                          </div>
                      </div>
                  </div> -->

                  <div class="form-group row">
                      <label class="col-sm-4 col-form-label">New Password </label>
                      <div class="col-sm-8">
                          <input type="password" formControlName="password" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && p.password.errors }"
                              placeholder="Enter password" required>

                          <div *ngIf="submitted && p.password.errors" class="error-text">
                              <span *ngIf="p.password.errors.required" class="text-danger">New password is
                                  required</span>
                          </div>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Confirm Password </label>
                      <div class="col-sm-8">
                          <input type="password" formControlName="confirmPassword" class="form-control"
                              [ngClass]="{ 'is-invalid': submitted && p.confirmPassword.errors }"
                              placeholder="Confirm Password" required>

                          <div *ngIf="submitted && p.confirmPassword.errors" class="error-text">
                              <span *ngIf="p.confirmPassword.errors.required" class="text-danger">Confirm Password is
                                  required</span>
                              <span *ngIf="p.confirmPassword.errors.mustMatch" class="text-danger">Passwords must
                                  match</span>
                          </div>
                      </div>
                  </div>

              </form>

          </app-card>
      </div>
      <div class="modal-footer">
          <div class="pr-4">

              <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHideChangePassword()"> <i
                      class="icofont icofont-close"></i> Close</button>

              <button class="btn btn-success btn-sm btn-outline-success" (click)="onFormSubmitChangePassword()"><i
                      class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>

          </div>

      </div>
  </ng-template>

  <ngx-smart-modal [escapable]="false" [dismissable]="false" #historyModal identifier="historyModal" (onAnyCloseEventFinished)="modalHideHistory()" customClass="nsm-dialog-animation-btt modal-xl pt-2 mt-5">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title pull-left " > Subscription History </h4>
        </div>
        <div class="card-body">

            <div class="row ">
                <div class="col-lg-12 ">

                  <ngx-datatable #dataTable class="material table-bordered" [rows]="historyList" [loadingIndicator]="loadingIndicator"
                  [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                  [rowHeight]="'auto'" [limit]="10">



                         <!-- Row Detail Template -->
                         <ngx-datatable-row-detail  [rowHeight]="'100%'">
                          <ng-template let-row="row" let-expanded="expanded"
                              ngx-datatable-row-detail-template>
                              <div class="w-50">
                                  <table
                                      class="table table-xs table-hover table-bordered table-striped">
                                      <thead>
                                          <tr>
                                              <th width="40%" scope="col">SIM</th>
                                              <th width="30%" scope="col">Plan</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let item of row.details">
                                              <th> {{item.sim.ICCID_no}} </th>
                                              <th> {{item.plan.plan}} </th>

                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </ng-template>
                      </ngx-datatable-row-detail>

                      <ngx-datatable-column [width]="30" name="#" [resizeable]="false"
                          [sortable]="false" [draggable]="false" [canAutoResize]="false">
                          <ng-template let-row="row" let-expanded="expanded"
                              ngx-datatable-cell-template>
                              <a href="javascript:void(0)" [class.datatable-icon-right]="!expanded"
                                  [class.datatable-icon-down]="expanded" title="Expand/Collapse Row"
                                  (click)="toggleExpandRow(row)">
                              </a>
                          </ng-template>
                      </ngx-datatable-column>

                      <ngx-datatable-column [width]="150" name="Subscription No" prop="id" [draggable]="false" [sortable]="false">
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <p > {{ row.id }}  <i *ngIf="row.future_state_type == 'Will_Hold' " title="Undo Held Subscription"  class=" mt-1 ml-2 icofont-ui-reply icofont-flip-horizontal text-warning icofont-2x"></i></p>
                            <p><em *ngIf="row.future_state && row.status === 1"> <small>--{{row.future_state}}</small></em></p>
                        </ng-template>
                    </ngx-datatable-column>

                  <ngx-datatable-column [width]="150" name="Activation Date" prop="activation_date" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                      </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="150" name="Cancellation Date" prop="cancellation_date" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="value" >  {{ value | amDateFormat:'DD-MMM-YYYY'}} </span>
                        <span *ngIf="!value" >  --- </span>
                      </ng-template>
                  </ngx-datatable-column>
                  <ngx-datatable-column [width]="150" name="Held Date" prop="held_date" [draggable]="false" [sortable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span *ngIf="value" >  {{ value | amDateFormat:'DD-MMM-YYYY'}} </span>
                      <span *ngIf="!value" >  --- </span>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column [width]="200" name="Subscription Status" prop="status" [draggable]="false" [sortable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span *ngIf="value == 1" > <strong class="label label-success">{{ SubscriptionStatus[value] }}</strong> </span>
                        <span *ngIf="value == 2" ><strong class="label label-danger">{{ SubscriptionStatus[value] }}</strong> </span>
                        <span *ngIf="value == 3" ><strong class="label label-warning">{{ SubscriptionStatus[value] }}</strong> </span>
                    </ng-template>
                </ngx-datatable-column>

              </ngx-datatable>
                </div>
            </div>

        </div>
        <div class="card-footer text-center">
            <button type="button" (click)="modalHideHistory()" class="btn btn-info btn-sm mb-1"> Close</button>
        </div>
    </div>
</ngx-smart-modal>

  <ng-template #templateDetails>
      <div class="modal-header ">
          <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
          <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
              <i class="icofont icofont-close"></i>
          </button>
      </div>
      <div class="modal-body " *ngIf="details">
          <app-card>

              <div class="row">
                  <div class="col-sm-6">
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Customer Code </label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.customer_code}} </label>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">First Name </label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.first_name}} </label>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Last Name </label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.last_name}} </label>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Email </label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.email}} </label>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Mobile </label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.mobile}} </label>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Alternative Mobile </label>
                          <div class="col-sm-8">
                               <label class="col-form-label">: {{details.alternative_mobile}} </label>

                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Telephone </label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.telephone}} </label>

                          </div>
                      </div>

                  </div>
                  <div class="col-sm-6">
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Fax </label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.fax}} </label>

                          </div>
                      </div>

                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">NID </label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.nid}} </label>


                          </div>
                      </div>


                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Account Number </label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.acc_number}} </label>

                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Address 1</label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.address_one}} </label>

                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Address 2</label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.address_two}} </label>
                          </div>
                      </div>
                      <div class="form-group row">
                          <label class="col-sm-4 col-form-label font-weight-bold">Preferred Payment Method</label>
                          <div class="col-sm-8">
                              <label class="col-form-label">: {{details.preferred_payment_method}} </label>
                          </div>
                      </div>
                  </div>
              </div>



          </app-card>
      </div>
      <div class="modal-footer">
          <div class="pr-4">

              <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHide()"> <i
                      class="icofont icofont-close"></i> Close</button>

          </div>

      </div>
  </ng-template>

</block-ui>
