<block-ui>

  <div class="row" *ngIf="stock">

    <div class="col-md-6 col-xl-4">
      <div class="card counter-card-1">
        <div class="card-block-big">

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1"><label class="label label-inverse-info-border"> Stock Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-success font-weight-bold mb-0"> {{stock.stock_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1"><label class="label label-inverse-info-border"> Subscribed Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-info font-weight-bold mb-0"> {{stock.subscribed_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1"><label class="label label-inverse-info-border"> Cancelled Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-danger font-weight-bold mb-0"> {{stock.cancelled_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1"><label class="label label-inverse-info-border"> Available Stock Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-success font-weight-bold mb-0"> {{stock.available_stock_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1"><label class="label label-inverse-info-border"> Reissued Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-warning font-weight-bold mb-0"> {{stock.reissued_qty}}  </p></div>
              </div>

        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card counter-card-2">
        <div class="card-block-big">

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1"><label class="label label-inverse-info-border"> Wifi SIM Stock Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-success font-weight-bold mb-0"> {{stock.wifi_sim_stock_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1"><label class="label label-inverse-info-border"> Wifi SIM Subscribed Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-info font-weight-bold mb-0"> {{stock.wifi_sim_subscribed_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1"><label class="label label-inverse-info-border"> Wifi SIM Cancelled Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-danger font-weight-bold mb-0"> {{stock.wifi_sim_cancelled_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1"><label class="label label-inverse-info-border"> Wifi SIM Available Stock Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-success font-weight-bold mb-0"> {{stock.wifi_sim_available_stock_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1"> <label class="label label-inverse-info-border"> Wifi SIM Reissued Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-warning font-weight-bold mb-0"> {{stock.wifi_sim_reissued_qty}}  </p></div>
              </div>

        </div>
      </div>
    </div>
    <div class="col-md-6 col-xl-4">
      <div class="card client-blocks dark-primary-border">
        <div class="card-block-big">

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1  mb-0"><label class="label label-inverse-info-border"> Phone SIM Stock Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-success font-weight-bold mb-0"> {{stock.phone_sim_stock_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1  mb-0"><label class="label label-inverse-info-border"> Phone SIM Subscribed Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-info font-weight-bold mb-0"> {{stock.phone_sim_subscribed_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1  mb-0"><label class="label label-inverse-info-border"> Phone SIM Cancelled Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-danger font-weight-bold mb-0"> {{stock.phone_sim_cancelled_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1  mb-0"><label class="label label-inverse-info-border"> Phone SIM Available Stock Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-success font-weight-bold mb-0"> {{stock.phone_sim_available_stock_qty}}  </p></div>
              </div>

              <div class="row pb-1">
                <div class="col-10"><h5 class="pt-1  mb-0"> <label class="label label-inverse-info-border"> Phone SIM Reissued Quantity </label></h5></div>
                <div class="col-2"><p class="text-right f-20 text-warning font-weight-bold mb-0"> {{stock.phone_sim_reissued_qty}}  </p></div>
              </div>

        </div>
      </div>
    </div>


    <!-- <div class="col-md-2 mb-3">
      <div class="card client-blocks dark-primary-border">
        <div class="card-block">
          <h5 class="f-22">All Stock Quantity</h5>
          <ul>
            <li> <img class="text-danger iw-42" src="assets/icon/custom/all-stock.png">
            </li>
            <li class="text-right f-22">
              {{stock.stock_qty}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <div class="card client-blocks success-border">
        <div class="card-block">
          <h5>Available Quantity </h5>
          <ul>
            <li> <img class="text-danger iw-42" src="assets/icon/custom/available.png">
            </li>
            <li class="text-right text-success f-42">
              {{stock.available_stock_qty}}
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="col-md-2 mb-3">
      <div class="card client-blocks warning-border">
        <div class="card-block">
          <h5>Cancelled Quantity</h5>
          <ul>
            <li> <img class="text-danger iw-42" src="assets/icon/custom/cancel.png">
            </li>
            <li class="text-right text-warning f-42">
              {{stock.cancelled_qty}}
            </li>
          </ul>
        </div>
      </div>
    </div>



    <div class="col-md-2 mb-3">
      <div class="card client-blocks dark-primary-border">
        <div class="card-block">
          <h5>Reissued Quantity</h5>
          <ul>
            <li> <img class="text-danger iw-42" src="assets/icon/custom/return.png">
            </li>
            <li class="text-right f-42">
              {{stock.reissued_qty}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-2 mb-3">
      <div class="card client-blocks">
        <div class="card-block">
          <h5>Subscribed Quantity</h5>
          <ul>
            <li> <img class="text-danger iw-42" src="assets/icon/custom/subscribe.png">
            </li>
            <li class="text-right text-primary f-42">
              {{stock.subscribed_qty}}
            </li>
          </ul>
        </div>
      </div>
    </div>-->

  </div>

  <div class="row pt-3">

    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-border-primary">
            <div class="card-header">
              <h5>SIM List </h5>
            </div>
            <div class="card-block ">

              <div class="row mb-4">
                <div class="col-lg-10">
                  <tabset [justified]="false" type="pills">

                    <tab (selectTab)="changeTab('Available',$event)">
                      <ng-template tabHeading>
                        Available
                      </ng-template>
                    </tab>
                    <tab (selectTab)="changeTab('Subscribed',$event)">
                      <ng-template tabHeading>
                        Subscribed
                      </ng-template>
                    </tab>
                    <tab (selectTab)="changeTab('Frozen',$event)">
                      <ng-template tabHeading>
                        Frozen
                      </ng-template>
                    </tab>
                    <tab (selectTab)="changeTab('Cancelled',$event)">
                      <ng-template tabHeading>
                        Cancelled
                      </ng-template>
                    </tab>
                    <tab (selectTab)="changeTab('Will Be Cancelled',$event)">
                      <ng-template tabHeading>
                        Will Be Cancelled
                      </ng-template>
                    </tab>
                    <tab (selectTab)="changeTab('Reissued',$event)">
                      <ng-template tabHeading>
                        Reissued
                      </ng-template>
                    </tab>
                    <tab (selectTab)="changeTab('Permanently Cancelled',$event)">
                      <ng-template tabHeading>
                        Permanently Cancelled
                      </ng-template>
                    </tab>
                  </tabset>
                </div>
                <div class="col-lg-2">
                  <div class="checkbox-fade fade-in-warning mt-2">
                    <label>
                      <input type="checkbox" [(ngModel)]="isPhoneSIM" (ngModelChange)="onPhoneSIMChange($event)">
                      <span class="cr" style="width: 30px; height: 30px;"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse f-18 font-weight-bold" style="line-height: 30px;">Phone SIM</span>
                    </label>

                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-7">
                  <div class="form-group row">
                    <div class="col-sm-12">
                      <input type="text" class="form-control" [(ngModel)]="searchParam"
                        placeholder="Filter by cid, iccid no, phone number, customer name.."
                        (keyup)="filterSearch($event)" />

                    </div>
                  </div>
                </div>
              </div>
              <div class="row ">
                <div class="col-lg-12 ">
                  <ngx-datatable #table class="material table-bordered" [scrollbarH]="true" [rows]="rows"
                    [loadingIndicator]="loadingIndicator" [externalPaging]="true" [columnMode]="ColumnMode.force"
                    [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [count]="page.totalElements"
                    [offset]="page.pageNumber" [limit]="page.size" (page)="setPage($event)">

                    <ngx-datatable-column *ngIf="isPhoneSIM == true" [width]="120" name="SIM Type" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> <strong class="label label-warning">Phone Sim</strong>
                        </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="120" name="SIM CID No" prop="CID_no" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span> {{ value }} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="ICCID No" prop="ICCID_no" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value ? value : "_ _ _"}} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="150" name="Phone Number" prop="phone_number" [draggable]="false"
                      [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span title="{{ value }}"> {{ value ? value : "_ _ _"}} </span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column [width]="200" name="Status" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <span *ngIf="row.status == 1"> <strong
                            class="label label-success">{{ StockStatus[row.status] }}</strong>
                        </span>
                        <span *ngIf="row.status == 2"> <strong
                            class="label label-info">{{ StockStatus[row.status] }}</strong>
                        </span>
                        <span *ngIf="row.status == 3"> <strong
                            class="label label-secondary">{{ StockStatus[row.status] }}</strong> </span>
                        <span *ngIf="row.status == 4"> <strong
                            class="label label-danger">{{ StockStatus[row.status] }}</strong>
                        </span>
                        <span *ngIf="row.status == 5"> <strong
                            class="label label-danger">{{ StockStatus[row.status] }}</strong>
                        </span>
                        <span *ngIf="row.status == 6"> <strong
                            class="label label-primary">{{ StockStatus[row.status] }}</strong>
                        </span>
                        <span *ngIf="row.status == 7"> <strong
                            class="label label-warning">{{ StockStatus[row.status] }}</strong>
                        </span>
                        <span *ngIf="row.status == 8"> <strong
                            class="label label-danger">{{ StockStatus[row.status] }}</strong>
                        </span>

                        <span *ngIf="row.is_frozen"> <strong class="label label-default">Frozen</strong>
                        </span>
                        <span *ngIf="tabType == 'Will Be Cancelled'"> <strong class="label label-default">Will Be
                            Cancelled</strong>
                        </span>


                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Cancelled'" [width]="150" name="Last Customer"
                      prop="customer_full_name" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <a [routerLink]="['/customer-details/'+row.current_owner]" routerLinkActive="router-link-active"
                          target="_blank"> {{ row.customer_full_name }} </a>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Subscribed'" [width]="150" name="Current Customer"
                      prop="customer_full_name" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <a [routerLink]="['/customer-details/'+row.current_owner]" routerLinkActive="router-link-active"
                          target="_blank"> {{ row.customer_full_name }} </a>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Will Be Cancelled'" [width]="150" name="Current Customer"
                      prop="customer_full_name" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <a [routerLink]="['/customer-details/'+row.current_owner]" routerLinkActive="router-link-active"
                          target="_blank"> {{ row.customer_full_name }} </a>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Cancelled'" [width]="120" name="Last Cancelled At"
                      prop="last_cancelled_at" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="!value"> -- </span>
                        <span *ngIf="value"> {{value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Reissued'" [width]="120" name="Last Reissued At"
                      prop="last_reissued_at" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="!value"> -- </span>
                        <span *ngIf="value"> {{value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Available'" [width]="120" name="Last Returned At"
                      prop="last_returned_at" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="!value"> -- </span>
                        <span *ngIf="value"> {{value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Available'" [width]="120" name="Last Received From MC"
                      prop="last_received_from_mc_at" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="!value"> -- </span>
                        <span *ngIf="value"> {{value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Frozen' || tabType == 'Subscribed'" [width]="150"
                      name="Last Frozen At" prop="last_frozen_at" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="!value"> -- </span>
                        <span *ngIf="value"> {{value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}}</span>
                      </ng-template>
                    </ngx-datatable-column>

                    <ngx-datatable-column *ngIf="tabType == 'Will Be Cancelled'" [width]="180"
                      name="Last Adv. Cancelled At" prop="last_adv_cancelled_at" [draggable]="false" [sortable]="false">
                      <ng-template let-value="value" ngx-datatable-cell-template>
                        <span *ngIf="!value"> -- </span>
                        <span *ngIf="value"> {{value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}}</span>
                      </ng-template>
                    </ngx-datatable-column>



                    <ngx-datatable-column [width]="500" name="Action" prop="id" [draggable]="false" [sortable]="false">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        <button *ngIf="tabType == 'Cancelled'" class="btn btn-info btn-mini mr-1"
                          (click)="onSubmitAction('reissuance',row)">
                          Reissue
                        </button>
                        <button *ngIf="tabType == 'Reissued'" class="btn btn-info btn-mini mr-1"
                          (click)="openModalSIMRecieve(row,templateSIMReceive)">
                          Receive
                        </button>
                        <button *ngIf="tabType == 'Cancelled'" class="btn btn-info btn-mini mr-1"
                          (click)="onSubmitAction('return',row)">
                          Return
                        </button>
                        <button *ngIf="tabType == 'Frozen'" (click)="onSubmitAction('unfreeze',row)"
                          class="btn btn-primary btn-mini mr-1"><i
                            class="icofont icofont-unlocked"></i>Unfreeze</button>

                        <button *ngIf="tabType == 'Cancelled'" class="btn btn-danger btn-mini mr-1"
                          (click)="onSubmitAction('permanently_cancelled',row)">
                          Permanently Cancelled
                        </button>

                        <button *ngIf="tabType == 'Will Be Cancelled'" (click)="onSubmitAction('undo-cacellation',row)"
                          class="btn btn-success btn-mini mr-1"><i class="icofont icofont-reply-all"></i>Undo
                          Cancellation</button>

                        <button class="btn btn-info btn-mini mr-1" (click)="openModal(row, template)">
                          See Life Cycle History
                        </button>
                        <button class="btn btn-info btn-mini" (click)="openModalICCID(row, templateICCID)">
                          See ICCID History
                        </button>
                      </ng-template>
                    </ngx-datatable-column>

                  </ngx-datatable>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <ng-template #templateICCID>
    <div class="modal-header " *ngIf="iccidHistory">
      <h5 class="modal-title pull-left " id="modalTitle" *ngIf="iccidHistory.sim_details.ICCID_no">Current ICCID No:
        {{iccidHistory.sim_details.ICCID_no}} | Phone Number: {{iccidHistory.sim_details.phone_number}}</h5>

      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHideICCID()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body pb-0" *ngIf="iccidHistory">
      <app-card>
        <div class="row">

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive" *ngIf="iccidHistory.sim_iccid_modifying_history.length > 0">
                  <table class="table table-xs table-hover table-bordered table-striped">
                    <thead>
                      <tr>
                        <!-- <th width="30%" scope="col">CID No</th>
                                  <th width="30%" scope="col">Phone No</th> -->
                        <th width="30%" scope="col">ICCID</th>
                        <th width="40%" scope="col">ICCID No Modified On</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr *ngFor="let item of iccidHistory.sim_iccid_modifying_history; let i=index">
                        <!-- <th>{{item.CID_no}}</th>
                                  <th>{{item.phone_number}}</th> -->
                        <th>{{item.ICCID_no}}</th>
                        <th>{{ item.created_at | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}}</th>

                      </tr>

                    </tbody>
                  </table>
                </div>
                <div *ngIf="iccidHistory.sim_iccid_modifying_history.length == 0">
                  <h4 class="text-center">No Data Found.</h4>
                </div>
              </div>

            </div>
          </div>
        </div>

      </app-card>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHideICCID()"> <i
            class="icofont icofont-close"></i> Close</button>
      </div>

    </div>
  </ng-template>

  <ng-template #template>
    <div class="modal-header ">
      <h4 class="modal-title pull-left " id="modalTitle"> SIM Lifecycle</h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body pb-0" style="height: 550px;overflow-y: auto;">
      <app-card>
        <div class="row">

          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4 mb-3" *ngIf="simObj">
                <p class="fs-14 mb-0"> SIM CID No : <b>{{simObj.CID_no}}</b></p>
                <p class="fs-14 mb-0"> SIM ICCID No : <b>{{simObj.ICCID_no}}</b></p>
                <p class="fs-14 mb-0"> Phone Number : <b>{{simObj.phone_number}}</b></p>
              </div>

              <div class="col-md-8">
                <div class="form-group row">
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="Search by customer, member, event.."
                      (keyup)="filterSimLifecycleSearch($event)" />

                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <ngx-datatable class="material table-bordered" [scrollbarH]="true" [rows]="simLifecycleDetails"
                  [loadingIndicator]="loadingIndicator" [externalPaging]="true" [columnMode]="ColumnMode.force"
                  [headerHeight]="40" [footerHeight]="50" rowHeight="auto" [count]="pageLifeCycle.totalElements"
                  [offset]="pageLifeCycle.pageNumber" [limit]="pageLifeCycle.size" (page)="setLifeCyclePage($event)">

                  <ngx-datatable-column [width]="150" name="Event " prop="event" [draggable]="false" [sortable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span> {{ value }} </span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="80" name="Customer" [draggable]="false" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <span *ngIf="row.customer_full_name"> {{ row.customer_full_name }} </span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="80" name="Member" [draggable]="false" [sortable]="false">
                    <ng-template let-row="row" ngx-datatable-cell-template>
                      <span *ngIf="!row.customer_full_name"> {{ row.member_full_name }} </span>
                    </ng-template>
                  </ngx-datatable-column>

                  <ngx-datatable-column [width]="80" name="Date" prop="created_at" [draggable]="false"
                    [sortable]="false">
                    <ng-template let-value="value" ngx-datatable-cell-template>
                      <span> {{ value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}} </span>
                    </ng-template>
                  </ngx-datatable-column>


                </ngx-datatable>


                <!-- <div class="table-responsive">
                      <table class="table table-xs table-hover table-bordered table-striped">
                          <thead>
                              <tr>
                                  <th width="60%" scope="col">Customer Code</th>
                                  <th width="60%" scope="col">Customer</th>
                                  <th width="40%" scope="col">Issue Date</th>
                                  <th width="40%" scope="col">Status</th>
                              </tr>
                          </thead>

                          <tbody>
                              <tr *ngFor="let item of simLifecycleDetails; let i=index">
                                  <th>{{item.customer_code}}</th>
                                  <th>{{item.customer}}</th>
                                  <th>{{ item.issue_date | amDateFormat:'DD-MMM-YYYY'}}</th>
                                  <th *ngIf="!item.is_physically_sim_returned">Assigned</th>
                                  <th *ngIf="item.is_physically_sim_returned">Returned</th>

                              </tr>
                          </tbody>
                      </table>
                      </div> -->
              </div>

            </div>
          </div>
        </div>

      </app-card>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHide()"> <i
            class="icofont icofont-close"></i> Close</button>
      </div>

    </div>
  </ng-template>

  <ng-template #templateSIMReceive>
    <div class="modal-header ">
      <h6 class="modal-title pull-left"> SIM Receive </h6>

      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHideSIMRecieve()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body pb-0">
      <app-card>


        <div class="row mb-3" *ngIf="simObj">
          <div class="col-md-6">
            <p class="fs-14 mb-0">SIM CID No : <b>{{simObj.CID_no}}</b></p>
            <p class="fs-14 mb-0">Phone Number : <b>{{simObj.phone_number}}</b></p>
          </div>
          <div class="col-md-6">
            <p class="fs-14 mb-0">Current SIM ICCID : <b>{{simObj.ICCID_no}} </b></p>

          </div>
        </div>
        <hr>
        <form [formGroup]="receiveSIMForm">

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">New ICCID No</label>
            <div class="col-sm-8">
              <input [ngClass]="{ 'is-invalid': submitted && rs.ICCID_no.errors}" formControlName="ICCID_no" type="text"
                class="form-control">
              <div *ngIf="submitted && rs.ICCID_no.errors" class="error-text">
                <small *ngIf="rs.ICCID_no.errors.required" class="text-danger"> ICCID is
                  required</small>
              </div>
            </div>
          </div>


        </form>
      </app-card>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHideSIMRecieve()"> <i
            class="icofont icofont-close"></i> Close</button>

        <button class="btn btn-success btn-sm btn-outline-success float-right" (click)="onSubmitSIMReceive()">
          <i class="icofont-save"></i> Receive
        </button>

      </div>

    </div>
  </ng-template>

</block-ui>
