<!-- <div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="card bg-inverse large-widget-card">
      <div class="card-block-big">
        <h1 class="text-center h1">Welcome to {{currentUser.UserType === 'WebUser' ? 'BacBon Education ERP' : currentUser.InstituteName }}</h1>
        <hr/>
        <p class="text-center f-26 text-success">{{currentUser.UserType === 'WebUser' ? currentUser.InstituteName : ''}}</p>
        <h3 *ngIf="currentUser.SystemYear === 0" class="color-danger text-center text-uppercase mt-5 p-3">
          You didn't start your {{currentUser.IsAcademic? 'Academic' : 'Fiscal'}} Year yet
          <br/>
          <a class="text-underline" *ngIf="currentUser.IsAcademic" [routerLink]="['/basic-setting/academic-year']">Click here to start</a>
          <a class="text-underline text-warning" *ngIf="!currentUser.IsAcademic" [routerLink]="['/basic-setting/fiscal-year']">Click here to start</a>
        </h3>
      </div>
    </div>
  </div>
</div> -->
<block-ui>
  <div class="row" *ngIf="currentUser.role == 'Admin'">
    <div class="col-lg-4 mb-4">
      <div class="card counter-card-1">
        <div class="card-block-big" routerLink="/employee">
          <div>
            <h3>Employee</h3>
            <p>Total Employee (s) <label class="badge badge-primary" *ngIf="allContent"
                style="font-size: 12px;">{{allContent.Employee}}</label> </p>
            <div class="progress ">
              <div class="progress-bar progress-bar-striped progress-xs progress-bar-pink" role="progressbar"
                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <i class="icofont icofont-people" style="font-size: 50px;"></i>
        </div>
      </div>
    </div>

    <div class="col-lg-4 mb-4">
      <div class="card counter-card-1">
        <div class="card-block-big" routerLink="/course-list">
          <div>
            <h3>Course</h3>
            <p>Total Course (s) <label class="badge badge-primary" *ngIf="allContent"
                style="font-size: 12px;">{{allContent.Course}}</label> </p>
            <div class="progress ">
              <div class="progress-bar progress-bar-striped progress-xs progress-bar-pink" role="progressbar"
                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <i class="icofont icofont-ebook" style="font-size: 50px;"></i>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card counter-card-1">
        <div class="card-block-big" routerLink="/course-quiz">
          <div>
            <h3>Quick Test</h3>
            <p>Total Quick Test (s) <label class="badge badge-primary" *ngIf="allContent"
                style="font-size: 12px;">{{allContent.Quiz}}</label> </p>
            <div class="progress ">
              <div class="progress-bar progress-bar-striped progress-xs progress-bar-pink" role="progressbar"
                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <i class="icofont icofont-question" style="font-size: 50px;"></i>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card counter-card-1">
        <div class="card-block-big" routerLink="/certificates">
          <div>
            <h3>Certificate</h3>
            <p>Total Certificate (s) <label class="badge badge-primary" *ngIf="allContent"
                style="font-size: 12px;">{{allContent.Certificate}}</label> </p>
            <div class="progress ">
              <div class="progress-bar progress-bar-striped progress-xs progress-bar-pink" role="progressbar"
                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <i class="icofont icofont-certificate" style="font-size: 50px;"></i>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card counter-card-1">
        <div class="card-block-big" routerLink="/subject-material">
          <div>
            <h3>Script</h3>
            <p>Total Script (s) <label class="badge badge-primary" *ngIf="allContent"
                style="font-size: 12px;">{{allContent.Document}}</label> </p>
            <div class="progress ">
              <div class="progress-bar progress-bar-striped progress-xs progress-bar-pink" role="progressbar"
                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <i class="icofont icofont-attachment" style="font-size: 50px;"></i>
        </div>
      </div>
    </div>


    <div class="col-lg-4 mb-4">
      <div class="card counter-card-1">
        <div class="card-block-big" routerLink="/subject-material">
          <div>
            <h3>Video</h3>
            <p>Total Video (s) <label class="badge badge-primary" *ngIf="allContent"
                style="font-size: 12px;">{{allContent.Video}}</label> </p>
            <div class="progress ">
              <div class="progress-bar progress-bar-striped progress-xs progress-bar-pink" role="progressbar"
                style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <i class="icofont icofont-ui-video-play" style="font-size: 50px;"></i>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-4" *ngIf="currentUser.role == 'Participant' || currentUser.role == 'Speaker'">
    <div class="col-lg-12">
      <div class="card table-1-card">
        <div class="card-header text-center">
          <h5 > Welcome to Training Module</h5>
        </div>
        <div class="card-block mb-2">
          <div *ngIf="courseOptions">
            <highcharts-chart [Highcharts]="highcharts" [options]="courseOptions"
              style="width: 100%; min-height: 400px; display: block;">
            </highcharts-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui>