<block-ui>
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card table-1-card">
        <div class="card-header text-center">
          <!-- <h5 > Welcome to Training Module</h5> -->
        </div>
        <div class="card-block mb-2">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group row  px-1">
                <label class="col-form-label"><b>Requisition</b> </label>
                <ng-select [(ngModel)]="selectedRequisition_id" (change)="onChangeRequisition($event)"
                  [clearable]="true" [disabled]="isReqDisabled" [clearOnBackspace]="true" [items]="pendingReqList"
                  bindLabel="requisition_no" bindValue="id" placeholder="Select a requisition">
                  <ng-template ng-option-tmp let-item="item">
                    <h5 class="text-dark">{{item.requisition_no}}</h5>
                    <p class="text-black-50 mb-0"> {{item.web_user_id.bp_id + '-' + item.web_user_id.full_name}} </p>
                    <p class="text-black-50 mb-0">Requisition Date:
                      {{item.created_at | amDateFormat:'DD MMM YYYY h:mm a'}}</p>
                  </ng-template>
                </ng-select>
              </div>
            </div>
            <div class="col-md-9" *ngIf="selectedRequisition_id">
              <div class="row px-3" *ngIf="selectedRequisitionObj">
                <div class="col-md-12">
                  <h6 class="bd-highlight-default">Requisition Details</h6>
                </div>
                <div class="col-md-4 py-1" *ngIf="selectedRequisitionObj.web_user_id">
                  <b>Name :</b> {{selectedRequisitionObj.web_user_id.full_name}} </div>
                <div class="col-md-3 py-1">
                  <b>Room Type :</b> {{selectedRequisitionObj.room_type}} </div>
                <div class="col-md-5 py-1">
                  <b>Room Facilities :</b> {{selectedRequisitionObj.facilities}} </div>
                <div class="col-md-4 py-1">
                  <b>From Date :</b> {{selectedRequisitionObj.from_date| amDateFormat:'DD MMM YYYY'}} </div>
                <div class="col-md-3 py-1">
                  <b>To Date :</b> {{selectedRequisitionObj.to_date| amDateFormat:'DD MMM YYYY'}} </div>
                <div class="col-md-4 py-1">
                  <b>Requisition Date :</b> {{selectedRequisitionObj.created_at | amDateFormat:'DD MMM YYYY'}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-12">
      <div class="card table-1-card">
        <div class="card-header">
          <form [formGroup]="searchForm">
            <div class="row">
              <div class="col-lg-4">
                <div class="row">
                  <div class="col-md-8">
                    <div class="form-group ">
                      <label class="col-form-label required"><b>Select User</b></label>
                      <ng-select placeholder="Select user" formControlName="user" [items]="userList" [clearable]='false'
                        [clearOnBackspace]='false' bindLabel="Name" bindValue="Id"
                        [ngClass]="{ 'is-invalid': submitted && s.user.errors }">
                      </ng-select>
                      <div *ngIf="submitted && s.user.errors" class="error-text">
                        <small *ngIf="s.user.errors.required" class="text-danger">User is required</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group row pt-1">
                      <button class="btn btn-primary button-submit" (click)="openModal(template)"><i
                          class="icofont-ui-add"></i></button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group ">
                      <label class="col-form-label required"><b>Date</b></label>
                      <input type="text" readonly class="form-control" bsDaterangepicker formControlName="dateRange"
                        [bsConfig]="bsConfig" [ngClass]="{ 'is-invalid': submitted && s.dateRange.errors }">
                      <div *ngIf="submitted && s.dateRange.errors" class="error-text">
                        <small *ngIf="s.dateRange.errors.required" class="text-danger">Search date is required</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group row">
                      <label class="col-form-label required"><b>Room Type </b></label>
                      <ng-select placeholder="Select room type" formControlName="room_type" [items]="roomType"
                        bindLabel="roomType" bindValue="roomType" [clearable]='false' [clearOnBackspace]='false'
                        [ngClass]="{ 'is-invalid': submitted && s.room_type.errors }">
                      </ng-select>
                      <div *ngIf="submitted && s.room_type.errors" class="error-text">
                        <span *ngIf="s.room_type.errors.required" class="text-danger"> Type is required</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group row pt-1">
                      <button class="btn btn-primary button-submit" (click)="searchRoom()"><i
                          class=" icofont-search-property "></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card table-1-card">
                <div class="card-header">

                    <div class="row">
                        <div class="col-lg-12 row-border-right table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Room Details</th>
                                        <th scope="col">Floor</th>
                                        <th class="text-right" scope="col">Price</th>
                                        <th class="text-right" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let room of roomList; let i=index">
                                        <th scope="row">
                                            {{ i+1 }}
                                        </th>
                                        <td>
                                            {{room.Name}} <br>  
                                            <small><strong>Facilites:</strong> {{ room.Facilites }} <strong>Allowed:</strong> {{room.RoomGenderType}}</small>
                                        </td>
                                        <td>{{room.Floor}}</td>
                                        <td class="text-right">{{room.Price}} Tk</td>
                                        <td>
                                            <button type="button" (click)="addRemoveRoom(room)" class="btn btn-secondary btn-sm">Add</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card table-1-card">
                <div class="card-header">

                    <div class="row">
                        <div class="col-lg-12 row-border-left table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Room Details</th>
                                        <th class="text-right" scope="col">Days</th>
                                        <th class="text-right" scope="col">Price</th>
                                        <th class="text-right" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let roomDetails of bookRoomsView; let i=index">
                                        <th scope="row">
                                            {{ i+1 }}
                                        </th>
                                        <td>
                                            {{roomDetails.Name}}
                                        </td>
                                        <td class="text-right">{{totalDays}}</td>
                                        <td class="text-right">{{roomDetails.Price}} Tk</td>
                                        <td class="text-right">
                                            <button type="button" (click)="addRemoveRoom(roomDetails)" class="btn btn-danger btn-sm">Remove</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr/>
                            <table class="table table-xs table-hover table-striped">
                                <tbody>
                                    <tr>
                                        <th>Total Payble Amount</th>
                                        <th class="text-right pr-4">= {{paybleAmount}} /-</th>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="form-group row pt-1">
                            <button class="btn btn-primary mx-3 btn-block mt-4" (click)="onBookingSubmit()" > Submit</button>
                            </div> 
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


  <ng-template #template>
    <div class="modal-header ">
      <h4 class="modal-title pull-left " [innerHtml]="modalTitle" id="modalTitle"></h4>
      <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
        <i class="icofont icofont-close"></i>
      </button>
    </div>
    <div class="modal-body ">
      <app-card>
        <form [formGroup]="userFrom" class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-md-12 px-4">
                  <div class="form-group row">
                    <label class="col-form-label required">Name </label>
                    <input type="text" formControlName="FullName"
                      [ngClass]="{ 'is-invalid': submitted && f.FullName.errors }" class="form-control" />
                    <div *ngIf="submitted && f.Name.errors" class="error-text">
                      <span *ngIf="f.FullName.errors.required" class="text-danger"> Name is required</span>
                      <span *ngIf="f.FullName.errors.maxlength" class="text-danger">Name must be not then 250
                        characters</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 px-4">
                  <div class="form-group row">
                    <label class="col-form-label required">Phone No </label>
                    <input type="text" formControlName="PhoneNo"
                      [ngClass]="{ 'is-invalid': submitted && f.PhoneNo.errors }" class="form-control" />
                    <div *ngIf="submitted && f.PhoneNo.errors" class="error-text">
                      <span *ngIf="f.PhoneNo.errors.required" class="text-danger"> Phone No is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 px-4">
                  <div class="form-group row">
                    <label class="col-form-label">Email </label>
                    <input type="text" formControlName="Email" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }"
                      class="form-control" />
                    <div *ngIf="submitted && f.Email.errors" class="error-text">
                      <span *ngIf="f.Email.errors.required" class="text-danger"> Email is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 px-4">
                  <div class="form-group row">
                    <label class="col-form-label required">Address </label>
                    <input type="text" formControlName="Address"
                      [ngClass]="{ 'is-invalid': submitted && f.Address.errors }" class="form-control" />
                    <div *ngIf="submitted && f.Address.errors" class="error-text">
                      <span *ngIf="f.Address.errors.required" class="text-danger"> Address is required</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 px-4">
                  <div class="form-group row">
                    <label class="col-form-label">BPID </label>
                    <input type="text" formControlName="BPID" [ngClass]="{ 'is-invalid': submitted && f.BPID.errors }"
                      class="form-control" />
                    <div *ngIf="submitted && f.BPID.errors" class="error-text">
                      <span *ngIf="f.BPID.errors.required" class="text-danger"> BPID is required</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </app-card>
    </div>
    <div class="modal-footer">
      <div class="pr-4">
        <button class="btn btn-danger btn-outline-danger mr-2" (click)="modalHide()"> <i
            class="icofont icofont-close"></i> Close</button>
        <button class="btn btn-success btn-outline-success" (click)="addUserSubmit()"><i
            class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
      </div>
    </div>
  </ng-template>
</block-ui>
