<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <h5>Payment List </h5>
                        </div>
                        <div class="card-block ">
                          <div class="row">
                            <div class="col-lg-7">
                              <div class="form-group row">
                                <div class="col-sm-12">
                                  <input type="text" class="form-control" placeholder="Search by customer,Payment No, Bill No, Session" (keyup)="filterSearch($event)" />
                                  <!-- <div *ngIf="submitted && f.customer.errors" class="error-text">
                                    <span *ngIf="f.customer.errors.required" class="text-danger"> Member is required</span>

                                </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                            <div class="row">
                                <div class="col-lg-12 ">
                                 <ngx-datatable #table class="material table-bordered" [rows]="paymentList" [loadingIndicator]="loadingIndicator"
                                  [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                                  [rowHeight]="'auto'" [limit]="10">

                                  <ngx-datatable-column [width]="100" name="Payment No" prop="id" [draggable]="false" [sortable]="false">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span > {{ value }} </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                  <ngx-datatable-column [width]="100" name="Bill No" prop="bill" [draggable]="false" [sortable]="false">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span > {{ value }} </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                  <ngx-datatable-column [width]="200" name="Customer" prop="customer" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column [width]="100" name="Session" prop="session" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="100" name="Discount" prop="discount" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="150" name="Paid Amount" prop="paid_amount" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>


                                  <ngx-datatable-column [width]="150" name="Payment Method" prop="payment_method" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span *ngIf="value === 1" > <strong class="label label-info">{{ PaymentType[value] }} </strong></span>
                                          <span *ngIf="value === 2"> <strong class="label label-primary">{{ PaymentType[value] }} </strong></span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="150" name="Remarks" prop="remarks" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="120" name="Paid On" prop="created_at" [draggable]="false"
                                      [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span >   {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                              </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</block-ui>
