<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <div class="card-header">
                            <h5>Payment List </h5>
                        </div>
                        <div class="card-block ">
                          <div class="row">
                            <div class="col-lg-4">
                              <div class="form-group row">
                                <label class="col-sm-4 col-form-label">Customer </label>
                                <div class="col-sm-8">
                                  <ng-select (change)="onCustomerChange($event)" [clearable]="false" [(ngModel)]="customer" [clearOnBackspace]="false" [items]="customerList"
                                    bindLabel="first_name" bindValue="id" placeholder="Select a customer">
                                  </ng-select>
                                  <!-- <div *ngIf="submitted && f.customer.errors" class="error-text">
                                    <span *ngIf="f.customer.errors.required" class="text-danger"> Customer is required</span>

                                </div> -->
                                </div>
                              </div>
                            </div>
                          </div>
                            <div class="row">
                                <div class="col-lg-12 ">
                                  <ngx-datatable class="material table-bordered" [rows]="rows" [scrollbarH]="true"
                                  [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode.force"
                                  [headerHeight]="40" [limit]="10" [footerHeight]="50" rowHeight="auto">


                                  <ngx-datatable-column [width]="100" name="Bill" prop="bill" [draggable]="false" [sortable]="false">
                                    <ng-template let-value="value" ngx-datatable-cell-template>
                                        <span > {{ value }} </span>
                                    </ng-template>
                                </ngx-datatable-column>
                                  <ngx-datatable-column [width]="100" name="Customer" prop="customer" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>
                                  <ngx-datatable-column [width]="100" name="Session" prop="session" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="100" name="Discount" prop="discount" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="150" name="Paid Amount" prop="paid_amount" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>


                                  <ngx-datatable-column [width]="100" name="Transaction Type" prop="transaction_type" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ value }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="100" name="Payment Method" prop="payment_method" [draggable]="false" [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span > {{ PaymentType[value] }} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                                  <ngx-datatable-column [width]="80" name="Created Date" prop="created_at" [draggable]="false"
                                      [sortable]="false">
                                      <ng-template let-value="value" ngx-datatable-cell-template>
                                          <span >  {{value | amDateFormat:'DD-MMM-YYYY'}} </span>
                                      </ng-template>
                                  </ngx-datatable-column>

                              </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



</block-ui>
