<block-ui>
    <div class="row">

        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-border-primary">
                        <!-- <div class="card-header">
                            <h5>Payment Collection </h5>
                            <button [routerLink]="['/receive-payment']" class="btn btn-info btn-sm float-right"> Receive Payment </button>
                        </div> -->
                        <div class="card-block ">

                          <div class="row">
                            <div class="col-lg-12">
                              <div class="form-group row">
                                <div class="col-sm-2">
                                  <input type="text"
                                  placeholder="Filter by date range"
                                  class="form-control"
                                  (ngModelChange)="onPaymentDetailsDateValueChange($event)"
                                  [(ngModel)]="bsPaymentRangeValue"
                                  bsDaterangepicker
                                  [bsConfig]="bsConfig">

                                </div>
                                <div class="col-sm-4">
                                  <input type="text" class="form-control"
                                    placeholder="Filter by bill no, payment no, cutomer full name, payment entry person, payment confimation person"
                                    (keyup)="filterSearch($event)" />

                                </div>
                                <div class="col-sm-2">
                                  <ng-select (change)="onPaymentMethodChange($event)" [clearable]="true" appendTo="body"  [clearOnBackspace]="false" [items]="paymentMethodList" bindLabel="name" bindValue="id" placeholder="Filter by payment method"></ng-select>

                                </div>
                                <div class="col-sm-3">
                                  <div class="form-radio">
                                        <div class="radio radiofill radio-primary radio-inline">
                                            <label>
                                                <input type="radio" name="radio" value="null" checked="checked" [(ngModel)]="customerType">
                                                <i class="helper"></i>All
                                            </label>
                                        </div>
                                        <div class="radio radiofill radio-primary radio-inline">
                                            <label>
                                                <input type="radio" name="radio" value="wholesaler" [(ngModel)]="customerType">
                                                <i class="helper"></i>Wholesaler
                                            </label>
                                        </div>
                                        <div class="radio radiofill radio-primary radio-inline">
                                            <label>
                                                <input type="radio" name="radio" value="retailer" [(ngModel)]="customerType">
                                                <i class="helper"></i>Retailer
                                            </label>
                                        </div>
                                </div>
                                </div>
                              </div>
                            </div>
                          </div>

                            <div class="row">
                                <div class="col-lg-12 ">
                                 <ngx-datatable #table class="material table-bordered" [rows]="paymentList" [loadingIndicator]="loadingIndicator"
                                  [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"  [externalPaging]="true"
                                  rowHeight="auto" [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size"
                                  (page)="setPage($event)">

                                <ngx-datatable-column [width]="200" name="Customer" prop="customer_full_name" [draggable]="false"
                                  [sortable]="false">
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span> {{ value }} </span>
                                  </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="100" name="Payment No" prop="payment_no" [draggable]="false"
                                  [sortable]="false">
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span> {{ value }} </span>
                                  </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column [width]="100" name="Bill No" prop="bill_no" [draggable]="false"
                                  [sortable]="false">
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span> {{ value }} </span>
                                  </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="150" name="Payment Method" prop="payment_method"
                                [draggable]="false" [sortable]="false">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span> <strong class="label label-info">{{ PaymentType[value] }} </strong></span>
                                </ng-template>
                              </ngx-datatable-column>

                                <ngx-datatable-column [width]="100" name="Paid Amount" prop="amount_paid" [draggable]="false"
                                  [sortable]="false">
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span> {{ value }} </span>
                                  </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="120" name="Entried By" prop="payment_entried_by_full_name" [draggable]="false"
                                  [sortable]="false">
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span *ngIf="value"> {{ value }} </span>
                                    <span *ngIf="!value"> -- </span>
                                  </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="120" name="Confirmed By" prop="payment_confirmed_by_full_name" [draggable]="false"
                                  [sortable]="false">
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span *ngIf="value"> {{ value }} </span>
                                    <span *ngIf="!value"> -- </span>
                                  </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="150" name="Payment Collected" prop="payment_entried_on" [draggable]="false"
                                  [sortable]="false">
                                  <ng-template let-value="value" ngx-datatable-cell-template>
                                    <span> {{ value | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a'}} </span>
                                  </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="160" name="Confirmed On" prop="payment_confirmed_on"
                                  [draggable]="false" [sortable]="false">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span *ngIf="row.payment_confirmed_on"> {{ row.payment_confirmed_on | amFromUtc | amLocal | amDateFormat:'DD-MMM-YYYY, h:mm a' }} </span>
                                    <span *ngIf="!row.payment_confirmed_on"> N/A </span>
                                  </ng-template>
                                </ngx-datatable-column>


                                <ngx-datatable-column [cellClass]="'text-center '" [width]="160" name="Confirm Payment"
                                  [draggable]="false" [sortable]="false">
                                  <ng-template let-row="row" ngx-datatable-cell-template>
                                    <span (click)="paymentCheck(row)" *ngIf="!row.is_payment_confirmed" class="cursor"> <i
                                        class="icofont icofont-checked text-gray fs-26 "></i> </span>
                                    <span *ngIf="row.is_payment_confirmed"> <i
                                        class="icofont icofont-checked text-success fs-26 "></i> </span>
                                  </ng-template>
                                </ngx-datatable-column>

                                <ngx-datatable-column [width]="150" name="Remarks" prop="payment_remarks" [draggable]="false"
                                [sortable]="false">
                                <ng-template let-value="value" ngx-datatable-cell-template>
                                  <span> {{ value }} </span>
                                </ng-template>
                              </ngx-datatable-column>


                              <ngx-datatable-column [width]="150" name="Action" prop="id" [draggable]="false"
                              [sortable]="false">
                              <ng-template let-row="row" ngx-datatable-cell-template>

                                <button (click)="newPrint(row.bill)" class="btn btn-primary btn-mini"><i
                                    class="icofont icofont-doc"></i>See Invoice</button>

                              </ng-template>
                            </ngx-datatable-column>

                              </ngx-datatable>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- <ng-template #template>
      <div class="modal-header ">
        <h4 class="modal-title pull-left " id="modalTitle">  </h4>
        <button type="button " class="close pull-right " aria-label="Close " (click)="modalHide()">
          <i class="icofont icofont-close"></i>
        </button>
      </div>
      <div class="modal-body pb-0" *ngIf="billItem">
        <app-card>
          <div class="table-responsive">
            <table class="table table-styling">
              <thead>
                <tr class="table-primary" *ngIf="billItem.bill_type == 'Subscription'">
                  <th>Subscription:</th>
                  <th *ngIf="billItem.subscription">{{billItem.subscription.id}}</th>
                  <th>Session:</th>
                  <th>{{billItem.session}}</th>
                </tr>
              </thead>
            </table>
          </div>

          <div class="table-responsive" *ngIf="balanceObj">
            <table class="table">
              <thead>
                <tr>
                  <th width="60%">{{balanceObj.first_name}} {{balanceObj.last_name}}</th>
                  <th>Balance:</th>
                  <th>{{balance - tempPaidAmount}}</th>
                </tr>
              </thead>
            </table>
          </div>


          <table class="table table-xs ">
            <tbody>
              <tr>
                <th>Sub-Total </th>
                <th width="40%" class="text-right pr-4">{{subTotal}}</th>
              </tr>
              <tr>
                <th>So Far Paid </th>
                <th width="40%" class="text-right pr-4">{{billItem.so_far_paid}}</th>
              </tr>
              <tr>
                <th>Total Refunded </th>
                <th width="40%" class="text-right pr-4">{{billItem.parent_refund_amount}}</th>
              </tr>


              <tr class="table-info" style="font-size: 20px;">
                <th> Payable Amount </th>
                <th class="text-right pr-4">{{subTotal - (billItem.so_far_paid - billItem.parent_refund_amount)}}</th>
              </tr>
              <tr>
                <th>Paid Amount</th>
                <td class="pr-1">
                  <input [disabled]="isPayBalanceEnable" type="text" class="form-control form-control-sm text-right pr-3"
                    numeric numericType="number" (change)="onChangePaid(paidAmount)" [(ngModel)]="paidAmount"
                    [ngModelOptions]="{standalone: true}">
                </td>
              </tr>
              <tr *ngIf="isPayBalanceEnableShow">
                <th colspan="2">
                  <div class="form-group text-left">
                    <div class="checkbox-fade fade-in-primary">
                      <label>
                        <input type="checkbox" (change)="onChangePayBalance($event.target.checked)">
                        <span class="cr">
                          <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                        </span> Pay From Balance ?
                      </label>
                    </div>
                  </div>
                </th>

              </tr>
            </tbody>
          </table>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label font-weight-bold pl-5">Remarks</label>
            <div class="col-sm-8">
              <textarea rows="2" type="text" [(ngModel)]="remarks" class="form-control"> </textarea>
            </div>
          </div>

        </app-card>
      </div>
      <div class="modal-footer">
        <div class="pr-4">
          <button class="btn btn-danger btn-sm btn-outline-danger mr-2" (click)="modalHide()"> <i
              class="icofont icofont-close"></i> Close</button>

          <button class="btn btn-success btn-outline-success btn-sm" (click)="onFormSubmit()"><i
              class="icofont icofont-check-circled"></i> {{btnSaveText}}</button>
        </div>

      </div>
    </ng-template> -->


</block-ui>
