<block-ui>
  <form [formGroup]="entryForm">
    <div class="row">
      <div class="col-lg-12">
        <div class="card card-border-default">
          <div class="card-header">
            <h5>Create Subscription </h5>
            <!-- <span class="code-header ">use class <code>table</code> inside table element</span> -->
          </div>
          <div class="card-block ">
            <div class="row ">
              <div class="col-lg-6">

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Customer </label>
                  <div class="col-sm-8">
                    <ng-select [ngClass]="{ 'is-invalid': submitted && f.customer.errors }" [clearable]="false" formControlName="customer" [clearOnBackspace]="false" [items]="customerList"
                      bindLabel="first_name" bindValue="id" placeholder="Select a customer">
                    </ng-select>
                    <div *ngIf="submitted && f.customer.errors" class="error-text">
                      <span *ngIf="f.customer.errors.required" class="text-danger"> Customer is required</span>

                  </div>
                  </div>
                </div>


              </div>
              <div class="col-lg-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Session </label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="session" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.session.errors }" placeholder="Type session">
                    <div *ngIf="submitted && f.session.errors" class="error-text">
                      <span *ngIf="f.session.errors.required" class="text-danger"> Session is required</span>

                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="card card-border-default">
          <div class="card-header">
            <h5></h5>
            <!-- <span class="code-header ">use class <code>table</code> inside table element</span> -->
          </div>
          <div class="card-block ">
            <div class="row ">
              <div class="col-lg-12">
                <div class="table-responsive">
                  <table class="table table-xs table-hover table-bordered table-striped">
                    <thead>
                      <tr>
                        <th width="20%" scope="col">SIM</th>
                        <th width="20%" scope="col">ICCID</th>
                        <th width="20%" scope="col">Plan</th>
                        <th width="20%" scope="col">Amount</th>
                        <th width="20%" scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody formArrayName="itemHistory" *ngFor="let item of itemFormArray; let i = index;">
                        <tr  [formGroupName]="i">
                            <th>
                              <ng-select [clearable]="false" appendTo="body" (change)="onSIMChange($event, item)" [ngClass]="{ 'is-invalid': submitted && item_his.controls[i].get('sim').errors}" formControlName="sim" [clearOnBackspace]="false" [items]="simList"
                              bindLabel="id" placeholder="Select a sim"></ng-select>
                              <div *ngIf="submitted && item_his.controls[i].get('sim').errors" class="error-text">
                                <small *ngIf="item_his.controls[i].get('sim').errors.required" class="text-danger"> SIM
                                  is required</small>

                              </div>
                            </th>
                            <th>
                              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && item_his.controls[i].get('sim_iccid').errors}" formControlName="sim_iccid"  />
                              <div *ngIf="submitted && item_his.controls[i].get('sim_iccid').errors" class="error-text">
                                <small *ngIf="item_his.controls[i].get('sim_iccid').errors.required" class="text-danger"> SIM ICCID is required</small>

                              </div>
                            </th>
                            <th>
                              <ng-select [clearable]="false" appendTo="body" [clearOnBackspace]="false" [ngClass]="{ 'is-invalid': submitted && item_his.controls[i].get('plan').errors}" formControlName="plan"  [items]="planList"
                            bindLabel="plan" bindValue="id" placeholder="Select a plan"></ng-select>
                            <div *ngIf="submitted && item_his.controls[i].get('plan').errors" class="error-text">
                              <small *ngIf="item_his.controls[i].get('plan').errors.required" class="text-danger"> Plan is required</small>

                            </div>
                            </th>
                            <th>
                              <input type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && item_his.controls[i].get('amount').errors}" formControlName="amount"  />
                            <div *ngIf="submitted && item_his.controls[i].get('amount').errors" class="error-text">
                              <small *ngIf="item_his.controls[i].get('amount').errors.required" class="text-danger"> Amount is required</small>
                            </div>
                            </th>
                            <th>
                              <button class="btn btn-success btn-mini pull-right mr-3" title="Add new item"
                                (click)="addItemHistory()"><i class="icofont-plus "></i> Add More</button>
                              <button *ngIf="itemFormArray.length > 1" class="btn btn-danger mr-1 btn-mini pull-right"
                                title="Delete this item" (click)="removeItemHistory(i)"> <i class="icofont-ui-delete"></i>
                              </button>

                            </th>

                        </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div class="col-lg-4 offset-lg-8">
                <table class="table table-xs table-hover table-striped">
                    <tbody>
                        <tr>
                            <th>Sub-Total {{itemTotal()}}</th>
                            <th class="text-right pr-4">{{subTotal}}</th>
                        </tr>
                        <tr>
                            <th>Discount</th>
                            <td class="pr-1">
                                <input  type="text" class="form-control form-control-sm text-right pr-3"
                                    numeric numericType="number" (change)="onChangeDiscount(discount)" [(ngModel)]="discount" [ngModelOptions]="{standalone: true}">
                            </td>
                        </tr>
                      <tr>
                            <th>Net-Total</th>
                            <th class="text-right pr-4">{{subTotal - discount}}</th>
                        </tr>
                         <!-- <tr>
                            <th>Paid Amount</th>
                            <td class="pr-1">
                                <input type="text" class="form-control form-control-sm text-right pr-3"
                                    numeric numericType="number" (change)="onChangePaid(paidAmount)"
                                    [(ngModel)]="paidAmount" [ngModelOptions]="{standalone: true}">
                            </td>
                        </tr> -->

                    </tbody>
                </table>

                <button class="btn btn-info btn-sm w-50 float-right" (click)="onFormSubmit()">
                    <i class="icofont-save"></i> {{btnSaveText}}
                </button>
            </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</block-ui>
