.b-active {
    background-color: #007bff;
}
<<<<<<< HEAD

.nsm-dialog { width: 75%; max-width: 1020px; border-radius: 10px; padding: 12px 0 0 0; }
=======
.nsm-dialog { width: 75%; max-width: 1020px; border-radius: 10px; padding: 12px 0 0 0; }
>>>>>>> b0b22fbf7e5bd1e49f440d88c42ea59b51cdcd6e
